<div class="container-flex bg-light-blue content-section for-moblie" id="Virtual-Classrooms">
  <div class="container virtual-class-container">
    <div class="row d-flex" style="position: relative">
      <div class="col-lg-12">
        <h1 class="title">Meet Our Team</h1>
        <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
      </div>
      <div class="col-md-12">
        <div class="yellow-tag" style="display: inline-block">
          <div class="tag-title">Management Division</div>
        </div>
      </div>
      <div class="w-100 p-3"></div>
      <div class="col-lg-4 pb-5 virtual-class-img-container">
        <img class="image virtual-class-img" src="assets/img/30.jpg" />
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-7 d-flex align-items-center">
        <div class="content">
          <h3 class="title">Harry Darell</h3>
          <p class="content">Chief Executive Officer</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <div class="spacer pt-3 pb-3"></div>
          <p class="content">
            Harry attended Eton College and Bristol University, where he
            graduated with a bachelor’s degree in modern languages in 2017. He
            founded Union Education Group in 2020 to embrace holistic education
            and provide partners both nationally and internationally with an
            extensive and bespoke service. He aims to add value to the curricula
            of the organisations UEG works with and empower students across the
            world through digital learning. Harry also looks to bring excitement
            and entertainment to the education process, believing that this will
            fuel student’s desire to continue developing academically, mentally,
            professionally and carry on seeking out new skills to learn.
          </p>
        </div>
      </div>
      <div class="w-100 p-5"></div>

      <div class="col-lg-7 d-flex align-items-center">
        <div class="content">
          <div class="col-lg-4 pb-5 display-on-mobile virtual-class-img-container">
            <img class="image virtual-class-img" src="assets/img/m_le.jpg" />
          </div>
          <h3 class="title">Michael Le</h3>
          <p class="content">Chief Operating Officer</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <div class="spacer pt-3 pb-3"></div>
          <p class="content">
            Michael is an Msci Mathematical Science graduate from the University
            of Birmingham and a BA Acting graduate from the Royal Birmingham
            Conservatoire. After graduating, he gained teaching experience both
            within the classrooms and privately, helping his students enrich
            their understanding and inspiring them to continually challenge
            themselves. As is evident with his contrasting degrees, he believes
            in and advocates the importance of a more holistic approach to
            learning. Michael founded Union Education Group to bring a team of
            like-minded Educators together to provide accessible and inspiring
            lessons to learners in whatever subject, skill or career path they
            wish to pursue.
          </p>
        </div>
      </div>
      <div class="col-lg-1"></div>

      <div class="col-lg-4 virtual-class-img-container display-off-mobile d-flex">
        <img class="image virtual-class-img" src="assets/img/m_le.jpg" />
      </div>
      <div class="w-100 p-3"></div>
      <div class="col-lg-11">
        <a class="btn btn-primary btn-find-out-more" style="width: auto" (click)="gotoContactus()">Get in Touch
          Today</a>
      </div>
    </div>
  </div>
</div>
<div class="container-flex bg-white content-section" style="background-color: #ffffff" id="Virtual-Classrooms">
  <div class="container virtual-class-container">
    <div class="row d-flex pb-5">
      <div class="col-md-12">
        <div class="yellow-tag" style="display: inline-block">
          <div class="tag-title">Design &amp; Technology Division</div>
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/UEG1701176569999.png" />
          <h4 class="title">Piyas De</h4>
          <p class="content">Chief Technology Officer</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <p class="content">
            Piyas attended Sikkim Manipal University, graduating with a Master
            of Computer Applications. He is a Sun-certified enterprise architect
            with more that 22 years’ experience in software application
            development fields, specialising in OpenSource technologies. An
            entrepreneur by heart, a big data evangelist and continuous explorer
            in software technologies, he provides leadership, management as well
            as technical vision for entire software engineering team. Piyas
            stimulates overall architecture, security and design, supervising
            emerging development trends to source fresh technology
            opportunities. He also helps enhance team processes, handles
            resource issues and interacts with varied team members, assuring
            sprint iteration and successful product release delivery.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/arun_pal.jpeg" />
          <h4 class="title">Arun Pal</h4>
          <p class="content">Chief Technical Advisor</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <p class="content">
            Arun attended University of Kolkata where he graduated with a
            Bachelor’s Degree in Science (BSc) and obtained a Master’s in
            systems. He has more than 20 years of software development
            experience in the areas of technical design, architecture,
            production support and delivery of applications in domains like
            Retail, Mortgage, Telecom and Freight Forwarding using various
            Microsoft tech stacks. Arun always plays a pivotal role leadership,
            management as well as providing technical vision for the entire
            team. With the team at Union Education Group, Arun focuses on
            delivering the right workflow and functionality across web
            development practices, maintaining consistent delivery goals.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/solomon_photo_edited_l_720.jpg" />
          <h4 class="title">Solomon Nuriyev</h4>
          <p class="content">Lead Developer</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <p class="content">
            Solomon pursued a Bachelor's degree in Mathematics at the University
            of Surrey and later earned a Master's in Data Science from Cardiff
            University. With a strong background in software development,
            Solomon plays a key role in driving innovation at Union Education
            Group. His expertise lies in crafting solutions that integrate
            mathematics and data, contributing to advancements in education
            technology. Solomon's journey is marked by a dedication to pushing
            boundaries and creating synergies between his complementing skills
            and the ever-evolving landscape of software development in the
            education field. Further to this, he is also crucial in developing
            E-Learning solutions at UEG.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/27.jpg" />
          <h4 class="title">Timothy Jackson</h4>
          <p class="content">Lead Designer</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <p class="content">
            Timothy attended Cheltenham College of Art and Design, going on to
            graduate from the University of Derby with a Bachelor’s degree in
            Design and Communication. Over the years he has gained a wide
            variety of experience in design projects with small to large-scale
            businesses both local and global. His passion is for solving and
            simplifying complex design problems elegantly and efficiently. With
            the team at Union Education Group, Tim focuses on making sure that
            the organisation consistently delivers both clear and concise visual
            communication. His design work extends across web development,
            educational media, and various promotional material for the company.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/31.png" />
          <h4 class="title">Charles Russell</h4>
          <p class="content">Head of Media</p>
          <hr class="big-blue" style="opacity: 1" style="opacity: 1" />
          <p class="content">
            Charles has significant amounts of teaching experience in a range of
            creative and artistic disciplines, including acting, filmmaking and
            photography. In acting, he is trained in all mediums: stage, screen
            and voice-over. He has thousands of hours of filming experience,
            including features, short films, trailers and showreels. He has
            photographed leading musicians such as Rag N Bone Man, Bears Den,
            Rhiannon Giddens and Frank Turner. In addition, he has photographed
            sporting legends such as Anthony Joshua, Eddie Jordan and Danny
            Williams. Charles oversees all filming and media at Union Education
            Group, in addition to extensively training Educators in this field.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-flex bg-light-blue content-section">
  <div class="container virtual-class-container">
    <div class="row d-flex pb-5">
      <div class="col-md-12">
        <div class="yellow-tag" style="display: inline-block">
          <div class="tag-title">London Division</div>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/faith_g_photo_edited_l__720.jpg" />
          <h4 class="title">Faith Goodwin</h4>
          <p class="content">UK Study</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            With a degree in Anthropology and Ancient History, as well as a rich
            seven-year background in education, Faith has navigated educational
            roles within both museums and universities. She has a deep passion
            for education and derives immense joy from helping UEG students
            achieve success. She has diverse experience in delivering online and
            face-to-face content to a wide range of abilities and subject needs.
            At Union Education Group, she is Head of UK Study which involves
            client management, family consultations and organising intensive
            courses. In addition to this, she also supports students in whatever
            is required to meet their academic goals.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/roxy_photo_edited_l_720.jpg" />
          <h4 class="title">Roxana Miller</h4>
          <p class="content">UK Study</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Roxy is a qualified primary school teacher, specialising in
            mathematics, with over 10 years of experience across diverse
            educational settings in the UK, India and Tanzania. Holding a
            Master's degree in Educational Psychology from the Institute of
            Education, UCL, she brings a unique blend of pedagogical expertise
            and psychological insight to her teaching approach. Having
            personally experienced the International Baccalaureate, Roxy is
            committed to fostering a holistic, inclusive and inquiry-based
            education for her students. At Union Education Group, Roxy is part
            of the UK study team, managing clients, providing educational
            consultancy and creating English language courses for students in
            India.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/zuzanna_k_photo_edited_480.jpg" />
          <h4 class="title">Zuzanna Kowalczyk</h4>
          <p class="content">Operations</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Zuzanna, a University of Warsaw Philosophy graduate specializing in
            anthropology and ethics, manages operations at Union Education
            Group. Her role involves scheduling lessons, coordinating with
            Educators and ensuring smooth operations. Responsible for customer
            satisfaction, she addresses concerns and gathers feedback. Zuzanna
            plays a pivotal role in UEG’s international growth, implementing
            strategies to expand the business. Her diverse skills contribute to
            a holistic approach, combining operational management,
            communication, and strategic planning to enhance UEG’s success and
            global presence. In particular, Zuzanna is heavily involved in the
            growth of the business in China and Hong Kong, developing
            educational programmes for local students.
          </p>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/anudhi_l_photo_edited_l_720.jpg" />
          <h4 class="title">Anudhi Lok</h4>
          <p class="content">Resources</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Anudhi is an experienced mathematician with a Bachelor’s degree in
            Mathematics from Royal Holloway University of London. She has worked
            with many students of various ages and abilities since the start of
            university, in both a classroom and private setting and is crucial
            in developing maths resources and E-Learning material within UEG.
            She believes that all students deserve to have an enthusiastic and
            dedicated teacher, willing to inspire and adapt to their individual
            learning style to enrich their experience of education. This is what
            motivates Anudhi to be a dedicated education professional and
            improve the general standard for UEG students.
          </p>
        </div>
      </div>

      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/abi_photo_edited_l.jpg" />
          <h4 class="title">Abi Duckham</h4>
          <p class="content">Educators</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Abi graduated from the University of Cambridge with a degree in
            Modern and Medieval Languages (French and Italian) in 2018. Her
            studies focused on linguistics and translation and involved her
            spending a year in Italy in 2016. She has extensive experience
            teaching languages and spent three years working in the education
            sector in Paris, teaching English and French to children and adults.
            She then joined Union Education Group to help students across the
            globe reach their language learning goals in French, Italian and
            English. Her work at the company also includes writing curricula and
            creating learning resources for international students.
          </p>
        </div>
      </div>
      <!-- addd -->
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/annesha_tandel.jpeg" />
          <h4 class="title">Annesha Tandel</h4>
          <p class="content">Resources</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Annesha recently graduated from Imperial College London with an
            integrated master’s degree in chemistry. With over seven years of
            experience working with a diverse range of students, including
            teaching abroad in Japan, Annesha uses her passion for science and
            mathematics to deliver lessons with creative and holistic
            approaches. At UEG, Annesha has designed and internationally
            delivered several cohorts of a synoptic course, innovatively
            demystifying questions about the science of the everyday. As an
            educator, Annesha adapts to her students and provides a personalised
            approach, ensuring she can equip them with the tools they need to
            succeed in their academic pursuits.
          </p>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/brad.jpg" />
          <h4 class="title">Brad Shrek</h4>
          <p class="content">Resources</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Brad is an experienced Educator who recently graduated from Imperial
            College London with an integrated master’s degree in chemistry. He
            has worked with numerous students between the ages of six to
            nineteen and personalises lessons that both engages students whilst
            still developing a deep understanding for the topics discussed. He
            believes in approaching learning holistically, encouraging his
            students to be inquisitive and to demonstrate their natural
            curiosity. Brad has extensive experience teaching a variety of
            subjects and is well-versed in the processes of applying for
            universities, working with students to achieve their dream places at
            medical schools and world-class institutions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/katrinaT.jpg" />
          <h4 class="title">Katerina Theodoridis</h4>
          <p class="content">Resources</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Katerina graduated Durham University in 2018 where she studied
            Liberal Arts, majoring in English and Philosophy. During her
            studies, she was the president of ACT, a theatre company, where she
            directed four Shakespeare productions and several modern classics.
            Following graduation, Katerina moved to London and completed the
            TeachFirst Leadership Development Programme; alongside teaching full
            time, she obtained her Postgraduate Diploma in Education at
            University College London, specialising in teaching secondary school
            English Curricula. Having taught remotely as well as in the
            classroom, she became passionate about innovating the ways
            humanities are taught, and creatively adapting resources to suit
            online leaning.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Kolkata Division -->
<div class="container-flex bg-white content-section">

  <div class="container virtual-class-container">
    <div class="row d-flex pb-5">
      <div class="col-md-12">
        <div class="yellow-tag" style="display: inline-block">
          <div class="tag-title">Kolkata Division and WOWL Academy</div>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/surojit_nath.jpeg" />
          <h4 class="title">Surojit Nath</h4>
          <p class="content">Head Of Business Development</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Surojit stands at the forefront of innovation in the Edtech, IT
            solutions, and digital marketing sectors with over fifteen years of
            entrepreneurial experience. As a business development leader at
            Union Education Group, he is adept at delivering an array of
            services tailored to meet the needs of a range of educational
            organisations in India and globally. Additionally, his role in the
            development of WOWL Edtech highlights his commitment to
            revolutionising language learning in India. Surojit's expertise
            spans Edtech, E-Learning, marketing communications and business
            development – driven by a passion for nurturing start-ups, fostering
            partnerships and continuously exploring new avenues for growth.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/anishbrata_ghosh.jpeg" />
          <h4 class="title">Anishbrata Ghosh</h4>
          <p class="content">Digital Lead</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Anishbrata, with over twenty years’ experience in entrepreneurial
            and creative strategies, serves as the WOWL Head of Edtech and
            Digital Marketing Lead at Union Education Group. These diverse roles
            are coupled with a bachelor’s degree in physics from Kolkata
            University. Anishbrata's career spans leadership positions in
            corporate sales and marketing, alongside significant contributions
            to some leading brands and start-ups in India. Passionate about
            early and K12 education, he is also a coach focused on study skills
            and the mental wellbeing of students of varying levels. He looks to
            not only develop digital solutions to learning but help students
            grow holistically.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/pritam_ghosh .jpeg" />
          <h4 class="title">Pritam Ghosh</h4>
          <p class="content">Project Manager</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Pritam is an accomplished Project Manager with an educational
            foundation of bachelor’s degrees in physics and education that has
            empowered him with a scientific bend of mind and a deep
            understanding of student learning processes and pedagogical
            strategies. Four years of his professional journey with Union
            Education Group and WOWL Edtech, as a Content Curator and later, as
            a Project Manager, reflects his adaptability and growth. Pritam's
            key competencies lie in his proficiency in computer-related skills
            acquired from his Diploma in Information Technology (DIT) from
            JNNYC, and the ability to thrive under pressure, making him
            well-suited for multitasking in dynamic environments.
          </p>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/anisha_roy.jpeg" />
          <h4 class="title">Anisha Roy</h4>
          <p class="content">Communications</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            With a first-class degree in Journalism from Bangalore University,
            Bengaluru and a PG Diploma in Mass Communication from Jadavpur
            University, Anisha brings a wealth of expertise and a passion for
            media to Union Education Group and WOWL EdTech. Her skills are
            highlighted by her proficiency in training, development and her
            innovative approach to professional growth. Anisha is motivated by a
            desire to contribute significantly to the media landscape,
            leveraging her educational background and diverse experience of more
            than 18 years. Her commitment to excellence and adaptability makes
            her a valuable asset to any team, particularly in dynamic and
            creative environments.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- HOng Kong Divison -->
<div class="container-flex bg-light-blue content-section">

  <div class="container virtual-class-container">
    <div class="row d-flex pb-5">
      <div class="col-md-12">
        <div class="yellow-tag" style="display: inline-block">
          <div class="tag-title">Hong Kong Division</div>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row">
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/tina_wu.jpeg" />
          <h4 class="title">Tina Wu</h4>
          <p class="content">Head Of Business Development</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Tina holds a B.Sc from New York University (Stern School of Business) and an MBA from Hong Kong University
            of Science and Technology. She is also a certified member of the Independent Education Consultants
            Association (IECA). She started her career in banking, working for Citibank and the Asian Development Bank.
            With over thirteen years of banking and university admissions experience, she later became an Admissions and
            Career Expert with over eight years of career and admission coaching experience as Kaplan Hong Kong's Lead
            Admissions Counselor. She has a proven track record of securing offers at top universities and colleges
            worldwide.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/marcie_chan.jpeg" />
          <h4 class="title">Marcie Chan</h4>
          <p class="content">Admissions Lead</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Marcie holds a BA from Harvard University and is a former Harvard Alumni Interviewer with over ten years of
            experience in tutoring and admissions consulting, coaching students who have been admitted to Phillips
            Academy Exeter, Peddie, The Hill School, NYU and Colombia. She is an expert in teaching writing and
            interviews skills, as well as crafting student profiles for admissions to top US boarding schools and
            universities. Marcie carries out significant amounts of academic and extracurricular planning and skills
            acquisition for high school students at Union Education Group. Marcie has assisted students globally in
            university admission from Asia to Europe.
          </p>
        </div>
      </div>
      <div class="col-lg-4 single-team pb-3">
        <div class="single-team-card">
          <img class="team-img" src="assets/img/mancy_lo.jpeg" />
          <h4 class="title">Mancy Lo</h4>
          <p class="content">Student Development</p>
          <hr class="big-blue" style="opacity: 1" />
          <p class="content">
            Mancy is a Youth Development Lead at Union Education Group with an MSc from Monash University and a B.Sc
            from The University of Melbourne. With over fifteen years of teaching and coaching experience, she has
            helped many students achieve goals and obtain high scores in standardized examinations. She has a proven
            track record of securing offers at top international schools and universities worldwide. A believer in
            teaching as an art of assisted discovery, Mancy enjoys collaborating with students and learning what
            motivates them to attain their objectives, whether that be for admission profiles or in related aspects of
            their application.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!--main contain end-->