<div class="resource_package payment_page">
    <div class="container-fluid bg-light-blue py-2">
        <div class="resource_package_inr">
            <div class="row align-items-start">
                <div class="col-lg-12">
                    <div class="payment_page_inner justify-content-between">
                        <div class="get-start-larning">
                            <div class="row">
                                <div class="col-lg-12 pb-3">
                                    <h5 class="modal-title">THANK YOU</h5>
                                    <hr class="big-blue">
                                </div>                                    
                                <div class="col-lg-12">                                        
                                    <p class="tnku-text">You have successfully subscribed to UEG pre-recorded courses.</p>
                                </div>
                                <button class="btn btn-yellow">START YOUR LEARNING NOW</button>
                            </div>
                            
                        </div>


                            <div class="get-start">
                            <div class="start-larning-pric">
                                <h3>GET STARTED</h3>
                                <div class="get-st-img">
                                <img src="assets/img/wwar.png"></div>
                                <p>WORLD WAR II: THE FORMING OF A NEW…</p>
                                <h5 class="modal-title">ADRIAN B</h5>
                                    <hr class="big-blue">
                                    <button class="btn btn-enrll">ENROLL NOW</button>
                            </div>
                        </div>

                   

                    </div>
                    <!--/main slider carousel-->
                </div>

            </div>
        </div>
    </div>
</div>