.search-bar-home.resourc_search input{
    background-color: #eaf1f800 !important;
}

.pre-title{
    top: 199px;
    left: 140px;
    width: 858px;
    /* UI Properties */

    text-align: left;
    font: normal normal normal 70px/80px LEMON MILK;
    letter-spacing: 4px;
    color: #0B154B;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 10px;
}

.filter-main-btn{
    width: 97px;
    height: 20px;

    /* UI Properties */

    text-align: left;
    font: normal normal bold 15px/28px LEMON MILK;
    letter-spacing: 2.25px;
    color: #0B154B;
    text-transform: uppercase;
    opacity: 1;
}

  