
    <!-- main contain -->
    <div class="containeroooo">
    <div class="banner home-banner partnerships top-bannr-part" style="background-image: url('assets/img/partnershipBannerBackground.jpg'); position: relative;">
        <div class="home-banner-blue-arrow">            
            <img class="display-off-mobile" src="assets/img/partnershipArrow.png">
            <img class="display-on-mobile" src="assets/img/partnershipArrow-mobile.png">
        </div>
        <div class="container home-banner-text partnerships">
            <div class="row">
                <div class="col-lg-6 home-banner-left">
                    <h1>PARTNERSHIPS</h1>
                    <div class="home-banner-header-divider"></div>
                    <p class="banner-content text-white partnerships" style="font-size: 1.6rem; font-family:lato;margin-top:-38px;">We form partnerships globally with organisations who share our passion for education and belief in online learning</p>
                    <a  class="btn btn-yellow" (click)="gotoContactus()">GET IN TOUCH</a>
                </div>
            </div>
        </div>
        
        <div class="sub-banner-background banner-display-on-mobile blue-triangle partnerships">
            <!-- <img src="assets/img/mobile-dark-blue-triangle.png"> -->
        </div>
    </div>
</div>
    <div class="container-flex why-ueg-section bg-white">
        <div class="container">
            <div class="row">
    
                <div class="yellow-tag">
                    <div class="tag-title">What we offer</div>
                </div>
    
                <!-- Spacer -->
                <div class="w-100"></div>
                <!-- Spacer -->
                <!-- Single Why Item -->
                <div class="col-md-6 why-item">
                    <h4 class="title sub-title">UEG Domestic</h4>
                    <hr class="small-blue">
                    <p class="content">We work with schools and other organisations in the UK, creating bespoke Education packages and designing curricula specifically based on the culture that has been created by the UK partner.</p>
                </div>
                <!-- Single Why Item -->
                <!-- Single Why Item -->
                <div class="col-md-6 why-item">
                    <h4 class="title sub-title">UEG Global</h4>
                    <hr class="small-blue">
                    <p class="content">Through our international partnerships, we work with thousands of students, helping them achieve a wide range of objectives and meeting their hunger to learn more. Our main international student bases are in China, Hong Kong, North America, Canada, India and Vietnam.</p>                </div>
                <!-- Single Why Item -->
    
                <div class="col-md-12 pt-4">
                    <div class="row align-items-center pl-0">
                        <div class="col-md-3 pt-2 pl-0">
                            <a class="btn btn-primary btn-find-out-more"  (click)="gotoContactus()">Schedule A Webinar</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <div class="container-flex why-ueg-section" style="background-color: rgba(154,189,221,0.2) !important;">
        <div class="container">
            <div class="row">
    
                <div class="yellow-tag">
                    <div class="tag-title">What we offer</div>
                </div>
    
                <!-- Spacer -->
                <div class="w-100"></div>
                <!-- Spacer -->
    
                <div class="col-md-12 why-item">
                    <h4 class="title sub-title">A broad and complete offering</h4>
                    <hr class="small-blue">
                </div>
    
                <!-- Single Why Item -->
                <div class="col-md-6 why-item">
                    <p class="content">We endeavour to provide a complete picture of Education across Academic Development, Skill Acquisition, Professional Learning and  Wellbeing. </p>
                </div>
                <!-- Single Why Item -->
                <!-- Single Why Item -->
                <div class="col-md-6 why-item">
                    <p class="content">Our partnerships range from developing school curriculum to corporate training. Once partnered with an institution, we consistently meet their demand and expectations.</p>
                </div>
                <!-- Single Why Item -->
    
    
                <div class="col-md-12 mt-5">
                    <div class="offer-grid">
                        <div class="course-label"><img src="assets/img/educator-icon-1.svg">Academic Development</div>
                        <div class="course-label"><img src="assets/img/educator-icon-2.svg">Skill Acquisition</div>
                        <div class="course-label"><img src="assets/img/educator-icon-3.svg">Professional Learning</div>
                        <div class="course-label"><img src="assets/img/educator-icon-4.svg">Wellbeing</div>
                    </div>
                </div>
    
    
                <div class="row col-md-12 d-flex align-items-center pt-5">
    
                    <div class="col-md-6 pt-5">
                        <h4 class="title sub-title">A receptive and open approach</h4>
                        <hr class="small-blue">
                        <p class="content dark-blue col-md-12 pl-0" style="padding: 1rem 2rem 2rem 0;">
                            We have highly efficient systems in delivering education and a complete understanding of our market. Nevertheless, we welcome new suggestions and are always ready to listen. If you have an idea about how your organisation can work with UEG, we’re only a phone call away.
                        </p>
                        <a  class="btn btn-primary btn-find-out-more col-md-5 w-auto" (click)="gotoContactus()">Get In Touch Today</a>
                        <br><br><br>
                    </div>
                    <div class="col-md-6 pt-3">
                        <img src="assets/img/iPadUEG2.png" width="100%">
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </div>
    
    <!--main contain end-->
    <app-get-tonow></app-get-tonow>