<div class="row role-row" *ngIf="roleArr.length > 1">
    <div class="col-md-6 ">
        <label for="">Role:</label>
        <select class="form-select" [(ngModel)]="rolid" (change)="changeRole()">
            <option *ngFor="let item of roleArr" [value]="item.roleid">{{item.rolename}}</option>
        </select>
    </div>
</div>

<section class="banner welcome" [ngClass]="{'mt-3': roleArr.length > 1}">
        
    <div class="welcome-desc">
        <div class="welcome-title">
            <h6 class="senary-title">UEG Administration</h6>
            <h1 class="secondary-title">Welcome</h1>
            <br><br><br>
        </div>
        <div class="divider"></div>
       
        <div class="welcome-img">
            <img class="welcome-image" src="assets/img/woman-writing.png" alt="woman writing image">
        </div>
    </div>
</section>

<section class="courses-banner" style="margin-bottom: 80px;">
    <h3 class="tertiary-title">Recent Activity</h3>
    <br>
    <table class="table table-hover" style="table-layout: fixed;">
        <thead class="thead">
            <tr>
                <th class="sorting align-middle" style="padding-left: 30px;">Name</th>
                <th class="sorting align-middle">Email</th>
                <th class="sorting align-middle">Page</th>
                <th class="sorting align-middle">Activity</th>
                <th class="sorting align-middle" style="width: 190px;">Time</th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor: pointer;" *ngFor="let data of activityArr, let i = index">
                <td class="sorting align-middle" style="width: 15%;padding-left: 30px;">
                   {{data.username}}
                </td>
                <td class="sorting align-middle" style="width: 20%;" [title]="data.useremail" [innerHTML]=" common.changeEmail(data.useremail)">
                   
                 </td>
                <td class="sorting align-middle" style="width: 20%;">
                    {{data.pagename}}
                </td>
                <td class="sorting align-middle">
                    <button class="activitybtn">update</button>
                </td>
                <td class="sorting align-middle">
                    {{data.createdat | date:'dd-MM-yy h:mm a'}}
                </td>
                
            </tr>
        </tbody>
        <div class="d-xl-flex align-items-center mt-3 pegin_sec" *ngIf="activityArr.length > 0" style="padding-left: 30px;">
                                <div class="col-auto d-block">
                                    <div class="text-center"> 
                                        <div class="dataTables_length"><label>Recent Activity per page
                                                <select name="datatables-reponsive_length"
                                                    aria-controls="datatables-reponsive"
                                                    class="form-select form-select-sm"
                                                    (change)="changePagelimit($event)" [(ngModel)]="selectedVal">
                                                    <option *ngFor="let item of pageList" [value]=item.value>
                                                        {{item.name}}
                                                    </option>
                                                </select> {{offset + 1}} - {{offset + limit}}</label>
                                            <label class="mx-2">
                                                <button class="btn btn-dark text-white" [disabled]="previousBtnDesable"
                                                    (click)="previousPage()"><img src="assets/img/chevron-left.svg"
                                                        alt="chevron-left"></button>
                                                &nbsp;
                                                <button class="btn btn-dark text-white" [disabled]="nextBtnDesable"
                                                    (click)="nextPage()"><img src="assets/img/chevron-right.svg"
                                                        alt="chevron-right"></button>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </table>
         </section>
         