<main role="main" class="main-body-sty mt-3">
  <div class="row spc-row">
    <div class="col-md-12">
      <div class="top_scne">
        <div class="top_scne_iii">
          <div class="top_scne_in">
            <h1>Students</h1>
          </div>
          <div class="btns-mid">
            <button class="btn btn-edtng" (click)="downloadStudentsList()">Download List</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 10px 10px 20px;">
      <input type="text" [(ngModel)]="searchText" class="form-control search-bar" placeholder="Search students..." (keyup)="search()">
    </div>
  </div>

  <div class="main-content">
    <div class="main-content-inner-list">
      <div class="row">
        <div class="col-md-12">
          <div>
            <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              <div class="d-md-flex align-items-center mb-3"></div>
              <div class="table-responsive">
                <table id="datatables-column-search-select-inputs" class="table table-no-striped dataTable" style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                  <thead class="thead-dark">
                    <tr role="row">
                      <th>Name</th>
                      <th>Date of Birth</th>
                      <th>Gender</th>
                      <th>School</th>
                      <th>Level</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="studentsList.length == 0">
                      <td class="text-center" colspan="6">
                        <h4>No Data Found!</h4>
                      </td>
                    </tr>
                    <tr role="row" class="odd" *ngFor="let student of studentsList; let i = index">
                      <td>{{ student.childName }}</td>
                      <td>{{ student.dateOfBirth | date }}</td>
                      <td>{{ student.gender }}</td>
                      <td>{{ student.school }}</td>
                      <td>{{ student.level }}</td>
                      <td>
                        <button class="btn btn-sm btn-primary" (click)="editStudent(student.id)">Edit</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="d-xl-flex align-items-center mt-3 pegin_sec" *ngIf="studentsList.length > 0">
                <div class="col-auto d-block">
                  <div class="text-center">
                    <div class="dataTables_length">
                      <label>
                        Students per page
                        <select name="datatables-reponsive_length" aria-controls="datatables-reponsive" class="form-select form-select-sm" (change)="changePagelimit($event)" [(ngModel)]="selectedVal">
                          <option *ngFor="let item of pageList" [value]="item.value">{{ item.name }}</option>
                        </select>
                        {{ offset + 1 }} - {{ offset + limit }}
                      </label>
                      <div class="mx-2" style="display: inline-block;">
                        <button class="btn btn-dark text-white" [disabled]="previousBtnDesable" (click)="previousPage()">
                          <img src="assets/img/chevron-left.svg" alt="chevron-left">
                        </button>
                        <button class="btn btn-dark text-white mx-3" [disabled]="nextBtnDesable" (click)="nextPage()">
                          <img src="assets/img/chevron-right.svg" alt="chevron-right">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="mt-2 a-back" style="color: #0366d6; cursor: pointer;" (click)="goBack()">Back to Client</a>
</main>
