<div class="achievements-page" style="margin-bottom: 100px;">
    <div class="container-fluid">
        <div class="resource_package_inr">
            <div class="achievements-page-inner">
                <div class="row align-items-start">
                    <div class="col-md-3 col-sm-12">
                        <div class="corcses_left">
                            <div class="prof_img_div"><img src="assets/img/pp-imp.png"></div>
                            <div class="corcses_dtl">
                            <h5>Siobhan Jones <span class="mt-1">Child Account</span></h5>                                
                            <strong>Joshua Jones <span>Parent Account</span></strong>
                        </div>
                        <div class="corcses_dtl">
                            <h5 class="mt-4">Completed</h5>                                
                            <strong>Courses <span>7 Courses</span></strong>
                        </div>
                        <div class="corcses_dtl">
                            <h5 class="mt-4">In Progress</h5>                                
                            <strong>Courses <span>2 Courses</span></strong>
                            <strong class="mt-4">Pre Recorded Courses <span>1 Courses</span></strong>
                        </div>

                            
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="corcses_right">
                            <div class="my_achiv_dtls">
                            <h5>My Achievements</h5>
                            <ul>
                                <li>
                                    <div class="layer single-carousel-item">
                                        <a class="carousel-link" href="https://www.unioneducationgroup.com/Course/3091">
                                           <div class="layer component">
                                              <div class="layer carousel-image">
                                                 <div class="zoomimg"><img src="assets/img/the-mindful-mover-1553%20banner%202.jpg" style="height: 100%;"></div>
                                              </div>
                                              <div class="layer course-tn-category"> <img src="assets/img/course-icon-4.svg" style="width: 20px;"> <span style="font-size: 10px; font-family: 'LEMON MILK'; font-weight: 300; letter-spacing: 1px; color: rgba(11,21,75,1.00);">Exercise</span> </div>
                                              <div class="layer" style="background-color: rgba(211,38,38,0); font-size: 11px; font-family: 'LEMON MILK';font-weight: 400; letter-spacing: .1rem; color: rgba(11,21,75,1.00);">
                                                 <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 11px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                    <div class="layer course-tn-name">The
                                                       Mindful Mover
                                                    </div>
                                                    <div class="layer" style=" border-bottom-style: solid; background-color: rgba(255,255,255,0.00); border-bottom-width: 4px; border-bottom-color: rgba(221,51,51,0.00); font-size: 10px; font-family: 'LEMON MILK';font-weight: 300; letter-spacing: .1rem; color: rgba(0,0,0,1.00); "> Akeim T</div>
                                                    <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                       <div class="layer component" style=" height: 1px; width: 50px; top: 0px; left: 0px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; background-color: rgba(0,202,217,1.00); border-top-width: 5px; border-top-color: rgba(0,202,217,1.00); border-left-width: 5px; border-left-color: rgba(0,202,217,1.00); border-right-width: 5px; border-right-color: rgba(0,202,217,1.00); border-bottom-width: 5px; border-bottom-color: rgba(0,202,217,1.00); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; box-shadow: 0px 0px 0px -1px rgba(0,0,0,1) ; font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); "> </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                </li>
                                <li>
                                    <div class="layer single-carousel-item">
                                        <a class="carousel-link" href="https://www.unioneducationgroup.com/Course/3091">
                                           <div class="layer component">
                                              <div class="layer carousel-image">
                                                 <div class="zoomimg"><img src="assets/img/the-mindful-mover-1553%20banner%202.jpg" style="height: 100%;"></div>
                                              </div>
                                              <div class="layer course-tn-category"> <img src="assets/img/course-icon-4.svg" style="width: 20px;"> <span style="font-size: 10px; font-family: 'LEMON MILK'; font-weight: 300; letter-spacing: 1px; color: rgba(11,21,75,1.00);">Exercise</span> </div>
                                              <div class="layer" style="background-color: rgba(211,38,38,0); font-size: 11px; font-family: 'LEMON MILK';font-weight: 400; letter-spacing: .1rem; color: rgba(11,21,75,1.00);">
                                                 <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 11px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                    <div class="layer course-tn-name">The
                                                       Mindful Mover
                                                    </div>
                                                    <div class="layer" style=" border-bottom-style: solid; background-color: rgba(255,255,255,0.00); border-bottom-width: 4px; border-bottom-color: rgba(221,51,51,0.00); font-size: 10px; font-family: 'LEMON MILK';font-weight: 300; letter-spacing: .1rem; color: rgba(0,0,0,1.00); "> Akeim T</div>
                                                    <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                       <div class="layer component" style=" height: 1px; width: 50px; top: 0px; left: 0px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; background-color: rgba(0,202,217,1.00); border-top-width: 5px; border-top-color: rgba(0,202,217,1.00); border-left-width: 5px; border-left-color: rgba(0,202,217,1.00); border-right-width: 5px; border-right-color: rgba(0,202,217,1.00); border-bottom-width: 5px; border-bottom-color: rgba(0,202,217,1.00); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; box-shadow: 0px 0px 0px -1px rgba(0,0,0,1) ; font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); "> </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                </li>
                                <li>
                                    <div class="no_dt_li">
                                        <i><img src="assets/img/no-dta-icn.png"></i>
                                    <strong>START A COURSE</strong>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="my_achiv_dtls mt-4">
                            <h5>Pre Recorded Courses</h5>
                            <ul>
                                <li>
                                    <div class="layer single-carousel-item">
                                        <a class="carousel-link" href="https://www.unioneducationgroup.com/Course/3091">
                                           <div class="layer component">
                                              <div class="layer carousel-image">
                                                 <div class="zoomimg"><img src="assets/img/the-mindful-mover-1553%20banner%202.jpg" style="height: 100%;"></div>
                                              </div>
                                              <div class="layer course-tn-category"> <img src="assets/img/course-icon-4.svg" style="width: 20px;"> <span style="font-size: 10px; font-family: 'LEMON MILK'; font-weight: 300; letter-spacing: 1px; color: rgba(11,21,75,1.00);">Exercise</span> </div>
                                              <div class="layer" style="background-color: rgba(211,38,38,0); font-size: 11px; font-family: 'LEMON MILK';font-weight: 400; letter-spacing: .1rem; color: rgba(11,21,75,1.00);">
                                                 <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 11px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                    <div class="layer course-tn-name">The
                                                       Mindful Mover
                                                    </div>
                                                    <div class="layer" style=" border-bottom-style: solid; background-color: rgba(255,255,255,0.00); border-bottom-width: 4px; border-bottom-color: rgba(221,51,51,0.00); font-size: 10px; font-family: 'LEMON MILK';font-weight: 300; letter-spacing: .1rem; color: rgba(0,0,0,1.00); "> Akeim T</div>
                                                    <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                       <div class="layer component" style=" height: 1px; width: 50px; top: 0px; left: 0px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; background-color: rgba(0,202,217,1.00); border-top-width: 5px; border-top-color: rgba(0,202,217,1.00); border-left-width: 5px; border-left-color: rgba(0,202,217,1.00); border-right-width: 5px; border-right-color: rgba(0,202,217,1.00); border-bottom-width: 5px; border-bottom-color: rgba(0,202,217,1.00); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; box-shadow: 0px 0px 0px -1px rgba(0,0,0,1) ; font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); "> </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                </li>
                                <li>
                                    <div class="no_dt_li">
                                        <i><img src="assets/img/no-dta-icn.png"></i>
                                    <strong>START A COURSE</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="no_dt_li">
                                        <i><img src="assets/img/no-dta-icn.png"></i>
                                    <strong>START A COURSE</strong>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="my_achiv_dtls mt-4">
                            <h5>Purchased Resources</h5>
                            <ul>
                                <li>
                                    <div class="layer single-carousel-item">
                                        <a class="carousel-link" href="https://www.unioneducationgroup.com/Course/3091">
                                           <div class="layer component">
                                              <div class="layer carousel-image">
                                                 <div class="zoomimg"><img src="assets/img/the-mindful-mover-1553%20banner%202.jpg" style="height: 100%;"></div>
                                              </div>
                                              <div class="layer course-tn-category"> <img src="assets/img/course-icon-4.svg" style="width: 20px;"> <span style="font-size: 10px; font-family: 'LEMON MILK'; font-weight: 300; letter-spacing: 1px; color: rgba(11,21,75,1.00);">Exercise</span> </div>
                                              <div class="layer" style="background-color: rgba(211,38,38,0); font-size: 11px; font-family: 'LEMON MILK';font-weight: 400; letter-spacing: .1rem; color: rgba(11,21,75,1.00);">
                                                 <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 11px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                    <div class="layer course-tn-name">The
                                                       Mindful Mover
                                                    </div>
                                                    <div class="layer" style=" border-bottom-style: solid; background-color: rgba(255,255,255,0.00); border-bottom-width: 4px; border-bottom-color: rgba(221,51,51,0.00); font-size: 10px; font-family: 'LEMON MILK';font-weight: 300; letter-spacing: .1rem; color: rgba(0,0,0,1.00); "> Akeim T</div>
                                                    <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                       <div class="layer component" style=" height: 1px; width: 50px; top: 0px; left: 0px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; background-color: rgba(0,202,217,1.00); border-top-width: 5px; border-top-color: rgba(0,202,217,1.00); border-left-width: 5px; border-left-color: rgba(0,202,217,1.00); border-right-width: 5px; border-right-color: rgba(0,202,217,1.00); border-bottom-width: 5px; border-bottom-color: rgba(0,202,217,1.00); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; box-shadow: 0px 0px 0px -1px rgba(0,0,0,1) ; font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); "> </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                </li>
                                <li>
                                    <div class="layer single-carousel-item">
                                        <a class="carousel-link" href="https://www.unioneducationgroup.com/Course/3091">
                                           <div class="layer component">
                                              <div class="layer carousel-image">
                                                 <div class="zoomimg"><img src="assets/img/the-mindful-mover-1553%20banner%202.jpg" style="height: 100%;"></div>
                                              </div>
                                              <div class="layer course-tn-category"> <img src="assets/img/course-icon-4.svg" style="width: 20px;"> <span style="font-size: 10px; font-family: 'LEMON MILK'; font-weight: 300; letter-spacing: 1px; color: rgba(11,21,75,1.00);">Exercise</span> </div>
                                              <div class="layer" style="background-color: rgba(211,38,38,0); font-size: 11px; font-family: 'LEMON MILK';font-weight: 400; letter-spacing: .1rem; color: rgba(11,21,75,1.00);">
                                                 <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 11px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                    <div class="layer course-tn-name">The
                                                       Mindful Mover
                                                    </div>
                                                    <div class="layer" style=" border-bottom-style: solid; background-color: rgba(255,255,255,0.00); border-bottom-width: 4px; border-bottom-color: rgba(221,51,51,0.00); font-size: 10px; font-family: 'LEMON MILK';font-weight: 300; letter-spacing: .1rem; color: rgba(0,0,0,1.00); "> Akeim T</div>
                                                    <div class="layer" style=" background-color: rgba(255,255,255,0.00); font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); ">
                                                       <div class="layer component" style=" height: 1px; width: 50px; top: 0px; left: 0px; border-top-style: solid; border-left-style: solid; border-right-style: solid; border-bottom-style: solid; background-color: rgba(0,202,217,1.00); border-top-width: 5px; border-top-color: rgba(0,202,217,1.00); border-left-width: 5px; border-left-color: rgba(0,202,217,1.00); border-right-width: 5px; border-right-color: rgba(0,202,217,1.00); border-bottom-width: 5px; border-bottom-color: rgba(0,202,217,1.00); border-top-left-radius: 10px 10px; border-top-right-radius: 10px 10px; border-bottom-left-radius: 10px 10px; border-bottom-right-radius: 10px 10px; box-shadow: 0px 0px 0px -1px rgba(0,0,0,1) ; font-size: 12px; font-family: arial; color: rgba(11,21,75,1.00); "> </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </a>
                                     </div>
                                </li>
                                <li>
                                    <div class="no_dt_li">
                                        <i><img src="assets/img/no-dta-icn.png"></i>
                                    <strong>START A COURSE</strong>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
