<ng-template #imageModal>
    <!-- <div class="d-flex justify-content-end">
        <button type="button" (click)="closeModal()" class="btn-close"></button>
    </div> -->
    <div class="modal-content">
        <div>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <img [src]="fullScreenImg" alt="" style="width:600px;padding:0">
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10 mt-3">
                        <h3 class="modal-title d-inline-block align-middle ml" style="color: black !important;">
                            Are you sure you want to delete this educator?
                        </h3>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close delteClose"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-secnedlt" style="text-align: center;">
            <div><button type="button" class="cancel-button btn btn-primary btn-lg" style="width: 100px;"
                    (click)="closeModal()">Cancel</button></div>
            <div><button type="button" class="btn btn-danger" style="width: 100px;"
                    (click)="deleteEducator()">Delete</button></div>
        </div>
    </div>
</ng-template>

<main role="main" class="main-body-sty mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="top_scne">
                <div class="top_scne_in">
                    <h1 class="add_heading_text">Create Educator</h1>
                    <button class="btn btn-edtng-add" *ngIf="!educatorsId">Creating</button>
                    <button class="btn btn-edtng-add" *ngIf="educatorsId">Editing</button>
                </div>
                <div class="top_scne_rt"><button class="btn btn-edtng" (click)="goToPreviewEducator()">Preview</button>
                </div>
            </div>

        </div>
    </div>

    <div class="main-content-add">
        <div class="main-content-inner">
            <div class="row">

                <div class="mb-3 col-md-6">
                    <label for="name" class="form-label lebel-text">Educator Name</label>
                    <input type="text" class="form-control input-text" [(ngModel)]="educatorname"
                        (keyup)="changeEducatorNameFun()" [disabled]="showField" (keypress)="onKeyPress($event)" />
                    <span class="error-msg" *ngIf="educatornameErr">Educator name required</span>
                    <span class="error-msg" *ngIf="valideducatornameErr && educatornameErr==false">Valid Educator name
                        required</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="shortname" class="form-label lebel-text">Short Name</label>
                    <input type="text" class="form-control input-text" [(ngModel)]="educatorshortname"
                        (keyup)="changeEducatorShortNameFun()" [disabled]="showField" />
                    <span class="error-msg" *ngIf="educatorshortnameErr">Short name required</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label lebel-text">Email Address</label>
                    <input type="email" class="form-control input-text" [(ngModel)]="educatoremail"
                        (keyup)="changeEducatorEmailFun()" [disabled]="showField" />
                    <span class="error-msg" *ngIf="educatoremailErr">Email required</span>
                    <span class="error-msg" *ngIf="educatoremailValidErr">Valid email required</span>

                </div>
                <!-- <div class="mb-3 col-md-6">
                    <label for="categorytype" class="form-label lebel-text">Category Type</label>
                    <select class="form-select input-text" aria-label="Default select example"
                        [(ngModel)]="categoryType" (change)="changeEducatorcategoryTypeFun()" [disabled]="showField">
                        <option value="">Select</option>
                        <option *ngFor="let item of categoryTypeList" [value]="item.categorytypeid">{{item.name}}
                        </option>
                    </select>
                    <span class="error-msg" *ngIf="categoryTypeErr">Category type required</span>
                </div> -->
                <div class="mb-3 col-md-6">
                    <label for="mobile" class="form-label lebel-text">Mobile Number</label>
                    <input type="number" class="form-control input-text" [(ngModel)]="educatorphone"
                        (keyup)="changeEducatorPhoneFun()" [disabled]="showField" />
                    <span class="error-msg" *ngIf="educatorphoneErr">Mobile number required</span>
                    <span class="error-msg" *ngIf="educatorphoneValidErr">Valid mobile number required</span>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="phot0" class="form-label lebel-text">Photo</label>
                    <div class="row">
                        <!-- <div *ngIf="educatorImage" class="col-5" >
                            <img  #img [src]="this.commonservice.imgCheck(educatorImage)"  class="form-control profile_img"
                                alt="" (click)="imagePopUp()" (error)="img.src='assets/img/gray.png'">
                        </div> -->
                        <div *ngIf="educatorImage" class="col-5">
                            <img #img [src]="this.commonservice.imgCheck(educatorImage)"
                                class="form-control profile_img" alt="" (click)="openIMageModal(imageModal)"
                                (error)="img.src='assets/img/gray.png'">
                        </div>
                        <div class="col-4">
                            <div class="image-upload">
                                <label for="file-input">
                                    <button type="button" class="btn btn-upload-btn" (click)="uploadBtn()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                            <path
                                                d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12" />
                                        </svg>
                                    </button>
                                    <button class="icondown" style="margin-left: 5px;" *ngIf="educatorImage"
                                        (click)="downloadProfileImage()">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                </label>
                                <input id="file-input" type="file" (change)="onFileChanged($event)"
                                    [disabled]="showField">
                            </div>
                            <span class="error-msg" *ngIf="educatorImageErr">Photo required</span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="address" class="form-label lebel-text">Address</label>
                    <textarea class="form-control input-text" style="height: 130px;" id="exampleFormControlTextarea1"
                        [disabled]="showField" [(ngModel)]="educatoraddress" (keyup)="changeEducatorAddressFun()">
                    </textarea>
                    <span class="error-msg" *ngIf="educatoraddressErr">Address required</span>
                </div>
                <div class="mb-3 col-md-12" *ngIf="!educatorsId">
                    <label class="form-label lebel-text" for="inlineFormInputGroupUsername2">Password</label>
                    <input [type]="passwordType" class="form-control input-text" id="inlineFormInputGroupUsername2"
                        [(ngModel)]="password" (keyup)="changeEducatorPasswordFun()" [disabled]="showField" />
                    <span class="error-msg" *ngIf="passwordErr">Password required</span>
                    <span class="error-msg" *ngIf="passwordValidErr">Valid password required</span>

                </div>
                <div class="mb-3 col-md-12">
                    <label for="subheading" class="form-label lebel-text">Subheading </label>
                    <input type="text" class="form-control input-text" [(ngModel)]="subheading"
                        (keyup)="changeEducatorSubHeadingFun()" [disabled]="showField" />
                    <span class="error-msg" *ngIf="subheadingErr">Subheading required</span>
                </div>
                <div class="mb-3 col-md-12">
                    <label for="expart" class="form-label lebel-text">Educator Excerpt </label>
                    <textarea type="text" class="form-control input-text" rows="4" style="height:80px;"
                        [(ngModel)]="educatorExpert" (keyup)="changeEducatorExpertFun()"
                        [disabled]="showField"></textarea>
                    <span class="error-msg" *ngIf="educatorExpertErr">Educator Excerpt required</span>
                </div>
                <div class="mb-3 col-md-12">
                    <label for="category" class="form-label lebel-text">Categories </label>
                    <input type="text" [(ngModel)]="categoriesName" (keyup)="searchCategoriesByName()"
                        [disabled]="showField" [matAutocomplete]="auto2" class="form-control input-text"
                        placeholder="Search..." />
                    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="getCategoriesIdByName()">
                        <mat-option *ngIf="categoriesSpinner">
                            <mat-spinner style="width:50px;"></mat-spinner>
                        </mat-option>
                        <mat-option *ngFor="let item of categoriesArr" [value]="item.name">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <span class="error-msg" *ngIf="categoriesNameErr">Categories required</span>
                    <div class="catgry_list_sc">
                        <div *ngFor="let data of categoriesList; let i = index">
                            <span>{{data.name}}</span>
                            <a *ngIf="!showField" (click)="catrgoriesRemove(i)">X</a>
                        </div>
                    </div>
                </div>

                <!-- add new subject -->
                <h4 class="text-info">New Subject Classification</h4>
                <div class="row mt-3 font-weight-bold small" *ngIf="subjectsList.length > 0">
                    <div class="col-lg-5">
                        <label for="expart" class="form-label lebel-text">Subject</label>
                    </div>
                    <div class="col-lg-5">
                        <label for="expart" class="form-label lebel-text">Levels Taught</label>
                    </div>
                    <div class="col-lg-2">
                        <label for="expart" class="form-label lebel-text">Ages From/To</label>
                    </div>
                </div>
                <div class="row mt-3" *ngFor="let data of subjectsList;let i = index;">
                    <div class="col-lg-5">
                        {{data.name}}
                    </div>
                    <div class="col-lg-5">
                        <input type="text" [placeholder]="'Levels taught...'" [(ngModel)]="data.searchLevel"
                               (focus)="onfocusCall(data)"
                               (keyup)="fetchEducationLevels(data)" [disabled]="showField" [matAutocomplete]="auto5"
                               class="form-control input-text" />
                        <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="getLevelIdByName(data, $event.option.value)">
                            <mat-option *ngFor="let item of levelArry" [value]="item">
                                {{ item.Name }}
                            </mat-option>
                        </mat-autocomplete>
                        <span class="error-msg" *ngIf="categoriesNameErr">Categories required</span>
                        <div class="catgry_list_sc">
                            <div *ngFor="let obj of data.levelList; let i = index">
                                <span>{{obj.name}}</span>
                                <a *ngIf="!showField" (click)="levelRemove(i, data.levelList)">X</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input class="form-control d-inline-block" style="width: 3em !important;height: 40px;"
                            [(ngModel)]="data.minAge" type="text">
                        &nbsp;
                        <input class="form-control d-inline-block" style="width: 3em !important;height: 40px;"
                            [(ngModel)]="data.maxAge" type="text">
                        &nbsp;
                        <button type="button" data-name="btnDelete" class="btn btn-primary badge badge-primary"
                            (click)="deleteDiv(i)">x</button>
                    </div>
                </div>
                <!-- new end -->
                <div class="mb-3 col-md-12 mt-4">
                    <label for="subjectTought" class="form-label lebel-text">Subjects Taught </label>
                    <input type="text" [(ngModel)]="subjectsName" (keyup)="searchSubjectByName()"
                        [matAutocomplete]="auto1" class="form-control input-text" placeholder="Search..." />
                    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="getSubjectsIdByName()">
                        <mat-option *ngIf="subjectsSpinner">
                            <mat-spinner style="width:50px;"></mat-spinner>
                        </mat-option>
                        <mat-option *ngFor="let item of subjectsArr" [value]="item.name">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <span class="error-msg" *ngIf="subjectsNameErr">Subjects required</span>
                </div>

                <div class="mb-3">
                    <label for="about" class="form-label lebel-text">About &nbsp;<i
                            title="Who are you personally? Where are you from? What hobbies do you have?"
                            class="bi bi-info-circle-fill"></i></label>
                    <ckeditor
                        [config]="{ placeholder:'Who are you personally? Where are you from? What hobbies do you have?', }"
                        [(ngModel)]="educatorAbout" [editor]="Editor" (change)="changeEducatorAboutFun()"
                        [disabled]="showField"></ckeditor>
                    <span class="error-msg" *ngIf="educatorAboutErr">About required</span>
                </div>

                <div class="mb-3">
                    <label for="experiance" class="form-label lebel-text">Teaching Experience &nbsp;<i
                            title="Written in the first person. No mention of the word tutor/tutoring, please useEducator/teacher/teaching. No mention of tutoring agencies in the past by name, you can put ‘worked at first-class learning centre’."
                            class="bi bi-info-circle-fill"></i></label>
                    <ckeditor
                        [config]="{ placeholder:'Written in the first person. No mention of the word tutor/tutoring, please use Educator/teacher/teaching. No mention of tutoring agencies in the past by name, you can put ‘worked at first-class learning centre’.' }"
                        [(ngModel)]="teachingExperiance" [editor]="Editor"
                        (change)="changeEducatorTeachingExperianceFun()" [disabled]="showField"></ckeditor>
                    <span class="error-msg" *ngIf="teachingExperianceErr">Teaching experience required</span>
                </div>
                <div class="heading add-edu-tabl">
                    <!-- <mat-card> -->
                    <div>
                        <!-- <mat-card-content> -->
                        <!-- <mat-card> -->
                        <div>
                            <mat-card-content>
                                <h4 class="text-info">Qualifications</h4>
                                <div class="table-responsive add-edu-quali">
                                    <table class=" table table-no-striped dataTable" style="width: 100%;">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>Subject:</th>
                                                <th>Level:</th>
                                                <th>Grade:</th>
                                                <th>Institutions:</th>
                                                <th>
                                                    <div class="text-center">Years Studied:</div>
                                                    <div class="d-flex" style="justify-content: space-around;">
                                                        <span>From</span>
                                                        <span>To</span>
                                                    </div>
                                                </th>
                                                <th *ngIf="qualificationArr.length >1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let arr of qualificationArr; index as i;">
                                                <td>
                                                    <div class="six-dot-sps">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ng-select style="width: 200px;" appendTo="body"
                                                        [(ngModel)]="arr.subjectid" [disabled]="showField"
                                                        (clear)="getQualificationSubjects('' , arr, 1)"
                                                        (search)="getQualificationSubjects($event.term, arr, 1)">
                                                        <ng-option class="form-control"
                                                            *ngFor="let sub of arr.subjectArr"
                                                            [value]="sub.id">{{sub.name}}</ng-option>
                                                    </ng-select>
                                                    <span class="error-msg" *ngIf="arr.subjectidErr">Subject
                                                        required</span>
                                                </td>
                                                <td>
                                                    <ng-select style="width: 200px;" appendTo="body"
                                                        [(ngModel)]="arr.levelid" [disabled]="showField"
                                                        (search)="getQualificationLevels($event.term , arr, 1)">
                                                        <ng-option class="form-control"
                                                            *ngFor="let level of arr.levelArr"
                                                            [value]="level.id">{{level.name}}</ng-option>
                                                    </ng-select>
                                                    <span class="error-msg" *ngIf="arr.levelidErr">Level required</span>
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" placeholder="Grade" matInput
                                                        [matAutocomplete]="auto" [(ngModel)]="arr.gradename"
                                                        [disabled]="showField" (keyup)="onKeyup(i ,qualificationArr)">
                                                    <mat-autocomplete #auto="matAutocomplete"
                                                        (optionSelected)="selectGrade(arr)">
                                                        <mat-optgroup *ngFor="let key of arr.gradeKeys" [label]="key">
                                                            <mat-option *ngFor="let obj of arr.gradeArr[key]"
                                                                [value]="obj.id">
                                                                {{ obj.name }}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </mat-autocomplete>
                                                    <span class="error-msg" *ngIf="arr.gradeidErr">Grade required</span>
                                                </td>
                                                <!-- <td>
                                                        <input type="text" class="form-control" [(ngModel)]="arr.institutionid" (keyup)="changeEducatorInstitutionFun(arr)"  [disabled]="showField">
                                                        <span class="error-msg" *ngIf="arr.institutionidErr">Institution
                                                            required</span>
                                                    </td> -->
                                                <td style="width: 200px;">
                                                    <ng-select style="width: 200px;" appendTo="body"
                                                        [(ngModel)]="arr.institutionid"
                                                        (search)="getInstitution($event.term , arr, 0)">
                                                        <ng-option class="form-control"
                                                            *ngFor="let ins of arr.institutionArr"
                                                            [value]="ins.name">{{ins.name}}</ng-option>
                                                    </ng-select>
                                                    <span class="error-msg" *ngIf="arr.institutionidErr">Institution
                                                        required</span>
                                                </td>
                                                <td>
                                                    <div class="d-flex" style="gap: 5px;">
                                                        <input type="text" class="form-control" [(ngModel)]="arr.time1"
                                                            [disabled]="showField">
                                                        <input type="text" class="form-control" [(ngModel)]="arr.time2"
                                                            [disabled]="showField">
                                                    </div>
                                                    <!-- <span class="error-msg" *ngIf="arr.timeErr">Years studied
                                                            required</span> -->
                                                </td>
                                                <td *ngIf="qualificationArr.length>1">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-secondary btn-dlt"
                                                        data-name="btnDelete" [disabled]="showField"
                                                        (click)="deleteExpTable(i)">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-card-content>
                        </div>
                        <!-- </mat-card> -->
                        <button (click)="addExpTable()" class="add_more" [disabled]="showField"><img
                                src="assets/img/addmore.png" style="width: 40px;" /><span>Add Educational
                                Experience</span></button>
                        <!-- </mat-card-content> -->
                    </div>
                    <!-- </mat-card> -->
                </div>
                <div class="comn-ckbxe row">
                    <div class="mb-3 col-sm-6" *ngIf="roleid !=2 && !showField">
                        <mat-checkbox [(ngModel)]="popular">Popular</mat-checkbox>
                    </div>

                    <div class="mb-3 col-sm-6" *ngIf="roleid !=2 && !showField">
                        <mat-checkbox [(ngModel)]="featured">Featured</mat-checkbox>
                    </div>

                    <div class="mb-3 col-sm-6" *ngIf="roleid !=2 && !showField">
                        <mat-checkbox [(ngModel)]="hidden">Hidden</mat-checkbox>
                    </div>

                    <div class="mb-3 col-sm-6" *ngIf="roleid !=2 && !showField">
                        <mat-checkbox [(ngModel)]="approve">Approve</mat-checkbox>
                    </div>

                    <div class="mb-3 col-sm-6" *ngIf="roleid !=2  && !showField">
                        <!-- <mat-checkbox [(ngModel)]="active">Active</mat-checkbox> -->
                    </div>
                    <div class="mb-3 col-sm-6"></div>
                    <div class="mb-3 col-sm-6">
                        <button class="btn preBtn" *ngIf="educatorsId" (click)="goToPreview()">Preview</button>
                    </div>
                </div>

                <!--new design  start -->
                <div *ngIf="educatorsId && coursesbyEducatorArr.length > 0" class="main-content-inner-list">
                    <div class="row">
                      <div class="col-md-12 ">
                        <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                          <div class="d-md-flex align-items-center mb-3"></div>
                          <div class="table-responsive">
                            <table id="datatables-column-search-select-inputs" class="table table-no-striped dataTable" style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                              <thead class="thead-dark">
                                <tr role="row">
                                  <th class="sorting align-middle w-25">Sl No.</th>
                                  <th class="sorting align-middle">Course Name</th>
                                  <th class="sorting align-middle ">Popular</th>
                                  <th class="sorting align-middle ">Featured</th>
                                  <th class="sorting align-middle ">Hidden</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr role="row" class="odd" *ngFor="let item of coursesbyEducatorArr; let i = index">
                                  <td class="align-middle" style=" font-size: 14px;">{{i+1}}.</td>
                                  <td class="align-middle" style=" font-size: 14px; cursor: pointer;">{{item.coursename}}</td>
                                  <td class="align-middle">
                                    <select [(ngModel)]="item.popular" disabled>
                                      <option *ngFor="let pro of propularArr" [value]="pro.value">{{pro.name}}</option>
                                    </select>
                                  </td>
                                  <td class="align-middle">
                                    <select [(ngModel)]="item.featured" disabled>
                                      <option *ngFor="let featured of featuredArr" [value]="featured.value">{{featured.name}}</option>
                                    </select>
                                  </td>
                                  <td class="align-middle text-center">
                                    <input type="checkbox" disabled [checked]="item.hidden === 1">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- end design -->
            </div>
        </div>
    </div>
    <!-- readucator course -->
    <!--  -->
    <div class="bottom-secne" style="text-align: center;">
        <div></div>
        <div *ngIf="!educatorsId"></div>
        <div>
            <button class="btn btn-danger" *ngIf="educatorsId" [disabled]="showField" (click)="onClickDelete()">Delete
            </button>
            <button class="cancel-button btn btn-primary" (click)="resetForm()">Cancel</button>
            <button class="submit-button btn btn-primary" *ngIf="!educatorsId" (click)="addEducator()">Save</button>
            <button class="submit-button btn btn-primary" *ngIf="educatorsId" (click)="updateEducator()"
                [disabled]="showField">Save</button>
        </div>
    </div>
    <!-- <p>&nbsp;</p> -->
    <a class="mt-2 a-back" style="color: #0366d6; cursor: pointer;" (click)="goBack()">Back to List</a>
</main>