
<div class="container">
    <div class="school-page">
        <div class="title-banner" [ngStyle]="{'background-image': 'url('+this.common.imgCheck(showImageUri1)+')'} ">
            <div class="title-banner-blue-arrow">
                <img class="blue-arrow-img" src="assets/img/blue-round-triangle.png" alt="">
            </div>
            <div class="title-banner-text">
                <div class="row">
                    <div class="title-banner-text-left w-75">
                        <h1 [ngClass]="{'detailsText': Name.length >= 19}">{{Name}}</h1>
                        <div class="dark-blue-divider my-5"></div>
                        <button class="button-yellow">
                            {{isLondonLoc ? 'SCHOOLS IN LONDON' : 'SCHOOLS OUTSIDE OF LONDON'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="school-intro bg-white">
            <div class="school-logo">
                <img [src]="this.common.imgCheck(LogoUri)" />
            </div>
            <div class="school-intro-text">
                <p  [innerHTML]="MainInformation"></p>
            </div>
        </div>
    
        <div class="school-info-1" [ngStyle]="{'background-image': 'url('+this.common.imgCheck(showImageUri2)+')'} ">
            <div class="schools-info-trapezoid">
                <img class="trapezoid banner-display-off-mobile" src="assets/img/white-slope-divider.png" alt="">
                <img class="trapezoid banner-display-on-mobile" src="assets/img/white-slope-divider-mobile.png" alt="">
    
            </div>
            <div class="school-info-1-text">
                <div class="row">
                    <div class="info-1-left">
                        <h2 class="info-title-text">
                            SCHOOL INFORMATION
                        </h2>
                        <div class="light-blue-divider mt-4 mb-5"></div>
                        <p class="info-1-p" [innerHTML]="SchoolInformation">
                    
                        </p>
                    </div>
                    <div class="info-1-right"></div>
                </div>
            </div>
        </div>
        <div class="school-info-2" [ngStyle]="{'background-image': 'url('+this.common.imgCheck(showImageUri3)+')'} ">
            <div class="school-info-cutout">
                <img class="cutout display-off-mobile" src="assets/img/blue-arrow-cutout.png" alt="">
                <img class="cutout display-on-mobile" src="assets/img/blue-arrow-cutout-mobile.png" alt="">
            </div>
            <div class="school-info-2-text">
                <div class="info-2-left"></div>
                <div class="info-2-right">
                    <p [innerHTML]="AdditionalInformation"></p>
                </div>
            </div>
        </div>
    
        <div class="admissions">
            <h4>ADMISSIONS</h4>
            <p class="admis_polcy" [innerHTML]="AdmissionsPolicy"></p>
        </div>
    </div>
    </div>