.links{
    color: #0a58ca;
}

a{ 
    display: block;
    margin: 5px;
}

h3.login-h3 {
    font-family: 'Lato', sans-serif;
    color: #0880AE;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4.login-h4 {
    font-family: 'Lato', sans-serif;
    color: #0880AE;
    font-weight: 500;
    line-height: 1.2;
}

input.form-control.login{
    width: 50%;
    padding: .375rem .75rem;
}