<footer class="main-footer uegfooter bg-dark-bg" id="main-footer">
    <div class="copyright container pt-5 pb-3">
        <div class="row d-flex">

            <!-- ueg-logo.start -->

            <div class="col-md-2 footer-logo pb-3">
                <img src="assets/img/ueg-logo-dark.png" height="50px">
            </div>
            <!-- ueg-logo.end -->
            <!-- footer-menu.start -->
            <div class="row col-lg-10 pb-3">
                <div class="col-lg-4 footer-link-title pt-3 pb-3 d-flex">
                    <span class="footer-link-title w-25">Contact Us</span>
                    <div class="footer-links">
                        <strong>Kensington Office</strong>
                        <br>
                        <p>+44 (0) 203 011 1302</p>
                        <!-- <a href="tel:+4402034883805">+44 (0) 203 488 3805</a> -->
                        <a href="mailto:info@unioneducationgroup.com">info@unioneducationgroup.com</a>
                        <a href="https://www.google.com/maps?q=1st+Floor,+239+Kensington+High+St" target="_blank">1st Floor, 239 Kensington High St</a>
                        <a style="pointer-events: none;">London</a>
                        <a style="pointer-events: none;">W8 6SN</a>
                        <a style="pointer-events: none;">United Kingdom</a>
                    </div>
                </div>

                <div class="col-lg-3 footer-link-title d-flex pt-3 pb-3">
                    <div class="footer-links">
                        <strong>Calcutta Office</strong>
                        <br>
                        <p>+44 (0) 203 011 1302</p>
                        <a href="mailto:info@unioneducationgroup.com">info@unioneducationgroup.com</a>
                        <a href="https://www.google.com/maps?q=59A,+Southend+Park,+Kolkata" target="_blank">59A, Southend Park</a>
                        <a style="pointer-events: none;">Kolkata</a>
                        <a style="pointer-events: none;">7000029</a>
                        <a style="pointer-events: none;">India</a>
                    </div>
                </div>

                <div class="col-lg-3 footer-link-title d-flex pt-3 pb-3">
                    <div class="footer-links">
                        <strong>Hong Kong Office</strong>
                        <br>
                        <p>+44 (0) 203 011 1302</p>
                        <a href="mailto:info@unioneducationgroup.com">info@unioneducationgroup.com</a>
                        <a  href="https://www.google.com/maps?q=Unit 553+19W+no.19,+Science+Park+West+Ave,+Hong+Kong+Science+Park" target="_blank">Unit 553, 19W, No. 19</a>
                        <a style="pointer-events: none;">Science Park West Ave</a>
                        <a style="pointer-events: none;">Hong Kong Science Park</a>
                        <a style="pointer-events: none;">Hong Kong</a>
                    </div>
                </div>

                <div class="col-lg-4 footer-link-title d-flex pt-3 pb-3">
                    <span class="footer-link-title w-25 text-right">About Us</span>
                    <div class="footer-links">
                        <a (click)="goto('/about-ueg')">About UEG</a>
                        <a (click)="goto('/our-team')">Meet Our Team</a>
                        <a (click)="goToUsingUeg('/using-ueg')">Using UEG</a>
                        <a (click)="goto('/partnerships')">Partnerships</a>
                        <a (click)="goto('/contact-us')">Contact Us</a>
                        <a (click)="goto('/become-an-educator')">Become An Educator</a>
                        <a href="https://www.uniontuitionlondon.com/" target="_blank">Union Tuition London</a>
                    </div>

                </div>
                <div class="col-lg-4 footer-link-title d-flex pt-3 pb-3">
                    <span class="footer-link-title">Information</span>
                    <div class="footer-links">
                        <a (click)="goto('/Privacy')">Privacy Policy</a>
                        <a (click)="goto('/Safeguarding')">Safeguarding Information</a>
                        <a (click)="goto('/Terms')">T&amp;Cs</a>
                        <a (click)="goto('/Cookies')">Cookies</a>
                    </div>
                </div>

            </div>
            <!-- footer-menu.end -->

            <div class="w-100 p-4"></div>

            <!-- copyright.start -->
            <div class="col-md-4">
                <!-- socials.start -->
                <div class="row socl_icn">
                    <!-- <div class="col-2">
                        <a href="https://www.instagram.com/unioneducationgroup/" target="_blank" class="social-link"><img height="24" width="24"
                                src="assets/img/instagram.svg"></a>
                    </div>
                    <div class="col-2">
                        <a href="https://www.facebook.com/unioneducationgroup" target="_blank"
                            class="social-link"><img height="24" width="24" src="assets/img/facebook.svg"></a>
                    </div>

                    <div class="col-2">
                        <a href="https://twitter.com/unionedugroup" target="_blank" class="social-link"><img
                                height="24" width="24" src="assets/img/twitter.svg"></a>
                    </div> -->
                    <div class="col-2">
                        <a href="https://www.linkedin.com/company/unioneducationgroup" target="_blank"
                            class="social-link"><img height="24" width="24" src="assets/img/linkedin.svg"></a>
                    </div>
                    <div class="col-2">
                        <a href="mailto:info@unioneducationgroup.com" target="_blank" class="social-link"><img
                                height="24" width="24" src="assets/img/mail.svg"></a>
                    </div>
                </div>
                <!-- socials.end -->
                <p class="copyright content text-left">© 2024 Union Education
                    Group Ltd. | All Rights Reserved</p>
                <!-- | All Rights Reserved -->
            </div>
            <!-- copyright.end -->

            <!-- besa.start -->
            <!-- <div class="col-md-2 text-left besa-logo" data-href="https://www.besa.org.uk/">
                <img width="127px" src="assets/img/besa.svg">

            </div> -->
            <!-- besa.end -->
        </div>
    </div>
</footer>
