<main role="main" class="main-body-sty mt-3">
  <div class="row spc-row">
    <div class="col-md-12">
      <div class="top_scne">
        <div class="top_scne_iii">
          <div class="top_scne_in">
            <h1>Jobs</h1>
          </div>
          <div class="btns-mid">
            <button class="btn btn-edtng" (click)="addJob()">Create New</button>
            <button class="btn btn-edtng" (click)="downloadJobsList()">Download List</button>
            <button class="btn btn-edtng" (click)="gotoCalendar()">View Calendar</button> <!-- New button added here -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 10px 10px 20px;">
      <input type="text" [(ngModel)]="searchText" class="form-control search-bar" placeholder="Search jobs..." (keyup)="search()">
    </div>
  </div>

  <div class="main-content">
    <div class="main-content-inner-list">
      <div class="row">
        <div class="col-md-12">
          <div>
            <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
              <div class="d-md-flex align-items-center mb-3"></div>
              <div class="table-responsive">
                <table id="datatables-column-search-select-inputs" class="table table-no-striped dataTable" style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                  <thead class="thead-dark">
                    <tr role="row">
                      <th>Job Name</th>
                      <th>Topic</th>
                      <th>Created</th>
                      <th>Charge Rate</th>
                      <th>Tutor Rate</th>
                      <th>Total Hours</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="jobsList.length == 0">
                      <td class="text-center" colspan="8">
                        <h4>No Data Found!</h4>
                      </td>
                    </tr>
                    <tr role="row" class="odd" *ngFor="let job of jobsList; let i = index">
                      <td>{{ job.JobName }}</td>
                      <td>{{ job.Topic }}</td>
                      <td>{{ job.Created | date }}</td>
                      <td>{{ job.ChargeRate }}</td>
                      <td>{{ job.TutorRate }}</td>
                      <td>{{ job.TotalHours }}</td>
                      <td>{{ getStatusText(job.Status) }}</td>
                      <td>
                        <button class="btn btn-sm btn-primary" (click)="editJob(job.Id)">Edit</button>
                        <button (click)="viewLessons(job.Id)" class="btn btn-sm btn-secondary">View Lessons</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="d-xl-flex align-items-center mt-3 pegin_sec" *ngIf="jobsList.length > 0">
                <div class="col-auto d-block">
                  <div class="text-center">
                    <div class="dataTables_length">
                      <label>
                        Jobs per page
                        <select name="datatables-reponsive_length" aria-controls="datatables-reponsive" class="form-select form-select-sm" (change)="changePagelimit($event)" [(ngModel)]="selectedVal">
                          <option *ngFor="let item of pageList" [value]="item.value">{{ item.name }}</option>
                        </select>
                        {{ offset + 1 }} - {{ offset + limit }}
                      </label>
                      <div class="mx-2" style="display: inline-block;">
                        <button class="btn btn-dark text-white" [disabled]="previousBtnDesable" (click)="previousPage()">
                          <img src="assets/img/chevron-left.svg" alt="chevron-left">
                        </button>
                        <button class="btn btn-dark text-white mx-3" [disabled]="nextBtnDesable" (click)="nextPage()">
                          <img src="assets/img/chevron-right.svg" alt="chevron-right">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
