<div class="container-fluid get-to-knww">
<div class="banner home-banner partnerships-contact-banner partnerships partnerships-banner partnerships-banner-contact-background">
    <div class="home-banner-blue-arrow get-to-knw" id="contact-partnerships-banner">
        <img class="" src="assets/img/blue-round-triangle.png">
        <img class="display-on-mobile" src="assets/img/blue-round-triangle-sm-mobile.png">
    </div>
    <div class="container home-banner-text" id="contact-partnerships-text">
        <div class="row">
            <div class="col-lg-6 pt-3">
                <h1 class="main-title dark-indigo">Get to know us</h1>
                <div class="home-banner-header-divider whit-coll"></div>
                <div class="col-lg-12 pl-0">
                    <p class="content white-text-mobile" >We are always ready to help so give us a call or email if you prefer. We look forward to hearing from you.</p>
                </div>
            </div>

            <div class="w-100"></div>
            <div class="contact-info col-md-12 row" style="z-index: 0;">
                <div class="yellow-tag" style="width: auto;">
                    <div class="tag-title">Email us</div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-6 pl-0 pt-2" style="left: 12px;margin-bottom: 1rem;">
                    <a href="mailto:info@unioneducationgroup.com" class="email contact">info@unioneducationgroup.com</a>
                </div>
                <div class="w-100"></div>
                <div class="yellow-tag" style="width: auto;">
                    <div class="tag-title">or call us on</div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-6 pl-0 pt-3" style="left: 12px;">
                    <a href="tel:+4402034883805" class="email contact">+44 (0) 20 3488 3805</a>
                </div>
            </div>
        </div>
    </div>

</div></div>