<header class="sticky-top">
    <nav class="navbar navbar-expand-xl navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0 ">
        <div class="container">
            <a class="navbar-brand" (click)="goto('/')">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1060 365.47">
                    <g id="UEG" class="cls-1">
                        <g class="cls-1">
                            <path class="cls-2"
                                d="M373.54,341.16V288.92H386.8v52.19c0,11.64,8.2,20.15,18.48,20.15s18.58-8.51,18.58-20.15V288.92h13.31v52.24c0,19.32-13.94,33.46-31.84,33.46S373.54,360.48,373.54,341.16Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M536.13,288.71v85.8h-.62l-53.82-56.2v54.85h-13.2v-85.7h.68l53.7,56.1V288.71Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2" d="M568.28,288.92h13.2v84.14h-13.2Z" transform="translate(-70 -267.27)">
                            </path>
                            <path class="cls-2"
                                d="M609.65,331.09a43.51,43.51,0,1,1,43.43,43.32A43.64,43.64,0,0,1,609.65,331.09Zm73.65-.1a30.17,30.17,0,1,0-30.22,30.06A30.31,30.31,0,0,0,683.3,331Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M792.37,288.71v85.8h-.62l-53.81-56.2v54.85H724.73v-85.7h.68l53.71,56.1V288.71Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M387.53,430.11v21.55h31.84v13.15H387.53v23.28h36.9v13.16h-50.1V417.11h50.1v13Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M521.47,459.28c0,25.84-16.65,42-43.37,42h-24V417.11h24C504.82,417.05,521.47,433.24,521.47,459.28Zm-13.36,0c0-17.85-11.59-29-30.06-29H467.29v57.88h10.92C496.58,488.09,508.11,477,508.11,459.23Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M548.77,469.35V417.11H562V469.3c0,11.64,8.19,20.15,18.48,20.15s18.58-8.51,18.58-20.15V417.11H612.4v52.24c0,19.32-13.94,33.46-31.84,33.46S548.77,488.67,548.77,469.35Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M639.7,459.23c0-23.7,19.78-43.58,43.42-43.58,10.91.15,21,4.8,29.23,12.84l-7.67,10.38c-5.9-5.89-13.57-9.81-21.82-9.81-15.24,0-29.8,13.36-29.8,30.22s14.77,30.06,29.85,30.06c8.62,0,16-4.27,21.82-10L712.35,490c-7.25,7.15-16.49,12.63-29,12.63C659.48,502.6,639.7,483,639.7,459.23Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M791.79,488.46H752l-5.74,12.79H731.92l39.57-85.87h.78l39.56,85.87h-14.3Zm-5.11-11.33-14.77-32.88-14.83,32.88Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2" d="M879.43,430.21H856.88v71H843.63v-71H821.08v-13.1h58.35Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2" d="M905.91,417.11h13.2v84.14h-13.2Z" transform="translate(-70 -267.27)">
                            </path>
                            <path class="cls-2"
                                d="M947.28,459.28A43.5,43.5,0,1,1,990.7,502.6,43.64,43.64,0,0,1,947.28,459.28Zm73.64-.1a30.17,30.17,0,1,0-30.22,30.06A30.3,30.3,0,0,0,1020.92,459.18Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M1130,416.9v85.81h-.63l-53.81-56.21v54.85h-13.2v-85.7h.67l53.72,56.1V416.9Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M454.24,590.08c0,25-18.17,40.77-40,40.77a43.48,43.48,0,1,1-.47-87c10.6.05,22.71,5.16,30.64,12.89l-7.36,11c-6.58-6.47-15.45-10.54-23.43-10.54a30.34,30.34,0,0,0-29.86,30.27c0,16.5,13.1,30.06,31.06,30.06,14.45,0,25.31-8.82,25.31-21.66v-.25h-26V583.5h39.82A62.14,62.14,0,0,1,454.24,590.08Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M528.61,629.44,506,596.86H495.62v32.58H482.41l-.05-84.14h26.15c15.66,0,28.5,12.06,28.5,27a24.62,24.62,0,0,1-16.65,23.44l24.48,33.67Zm-19.79-43.53c7.94.05,14.57-6.37,14.57-13.89,0-7.83-6.74-13.62-14.57-13.62H495.57v27.51Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M565.67,587.47a43.51,43.51,0,1,1,43.42,43.32A43.64,43.64,0,0,1,565.67,587.47Zm73.64-.1a30.17,30.17,0,1,0-30.22,30.06A30.3,30.3,0,0,0,639.31,587.37Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M680,597.54V545.3h13.25v52.19c0,11.64,8.2,20.15,18.48,20.15s18.58-8.51,18.58-20.15V545.3h13.31v52.24c0,19.32-13.93,33.46-31.84,33.46S680,616.86,680,597.54Z"
                                transform="translate(-70 -267.27)"></path>
                            <path class="cls-2"
                                d="M774.91,545.3H803c16.29,0,29.6,12.47,29.6,27.76,0,15-13.31,27.2-29.6,27.2H788.12v29.18H774.91ZM819.43,573c0-8-7.36-14.56-16.39-14.56H788.12v28.76l14.92.05C812.07,587.26,819.43,580.84,819.43,573Z"
                                transform="translate(-70 -267.27)"></path>
                        </g>
                    </g>
                    <path class="cls-2" d="M223.53,585.68H145.27a6,6,0,1,1,0-12.07h78.26a6,6,0,1,1,0,12.07Z"
                        transform="translate(-70 -267.27)"></path>
                    <path class="cls-2" d="M223.53,609.21H145.27a6,6,0,1,1,0-12.07h78.26a6,6,0,1,1,0,12.07Z"
                        transform="translate(-70 -267.27)"></path>
                    <path class="cls-2" d="M201.23,632.73H168.36a6,6,0,0,1,0-12.07h32.87a6,6,0,0,1,0,12.07Z"
                        transform="translate(-70 -267.27)"></path>
                    <path class="cls-2"
                        d="M242.89,502.76c-2.92,12-3.52,26.63-3.52,50-6.51,0-109.82-.54-109.82-.54,0-50.52-3.12-60.41-26-89.63a115,115,0,0,1-16.4-20.71l66.66-40.83a22.85,22.85,0,0,1,31.4,7.57Z"
                        transform="translate(-70 -267.27)"></path>
                    <path class="cls-3"
                        d="M298.86,381.66a113.8,113.8,0,0,1-33.4,80.74v.19c-7.57,9.57-12.95,17.07-16.8,24.64l-39.43-64.47a22.77,22.77,0,0,1,7.5-31.4l76-46.55A113,113,0,0,1,298.86,381.66Z"
                        transform="translate(-70 -267.27)"></path>
                    <path class="cls-4"
                        d="M286.17,329.28l-71.1,43.49a22.83,22.83,0,0,1-31.41-7.64l-52-85a114.55,114.55,0,0,1,154.56,49.13Z"
                        transform="translate(-70 -267.27)"></path>
                    <path class="cls-5"
                        d="M147.88,389.76,81,430.73a114.48,114.48,0,0,1,33.33-139.49l41.1,67.12A22.86,22.86,0,0,1,147.88,389.76Z"
                        transform="translate(-70 -267.27)"></path>
                </svg> </a>
                <div class="mobile-nav-item">
                    <div class="dropdown cart_tray">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/img/cart-icon.png" />
                            <span id="countitemspan" class="itemCount">{{getCartlistArr.length}}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--Here is the Content-->
                            <div class="add_bag">
                                <div class="add_bag_l">
                                    <button><img src="assets/img/close-icn.png" /></button>
                                    <strong>Your bag</strong>
                                </div>
                                <div id="countitemdiv" class="add_bag_r">
                                    <strong *ngIf="getCartlistArr.length <=1"><span>{{getCartlistArr.length}}</span> &nbsp;item</strong>
                                    <strong *ngIf="getCartlistArr.length > 1"><span>{{getCartlistArr.length}}</span> &nbsp;items</strong>
                                </div>
                            </div>
                            <div class="card_mid">
                                <div class="add_card_lidt" id="wishlistdiv" *ngFor="let data of getCartlistArr">
                                    <ul>
                                        <li>
                                            <div class="prod_img">
                                                <img [src]="common.imgCheck(data.resourceimg)" />
                                            </div>
                                            <div class="prod_div_rit">
                                                <div class="prod_div_rit_top">
                                                    <div class="prod_name"><strong>{{data.resourcename}}</strong>
                                                    </div>
                                                    <div class="prd_dlticon">
                                                        <img class="smlImg" src="assets/img/delete-24.png" alt=""  srcset="" (click)="deleteCart(data.cartid)">
                                                   </div>
                                                    <div class="prod_pric"><strong>£{{data.resourceprice}}</strong>
                                                    </div>
                                                </div>
                                                <div class="qnt-nobr">
                                                    <strong class="qnt_xtt" *ngIf="data.quantity <= 1">Quantity:</strong>
                                                    <strong class="qnt_xtt" *ngIf="data.quantity > 1">Quantity:</strong>
                                                    <strong class="qnt_xtt_no"> {{data.quantity}}</strong>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="estimt_totl">
                                <div id="totalPriceDiv " class="estimt_totl_inr total-price-div">
                                    <span>Total</span> <span class="mx-0"><strong> £{{totalAmount}}</strong></span>
                                </div>
                                <div id="SendData">
                                    <button class="btn enrol-btn btn-checkout"
                                        (click)="goto('/checkout')">Checkout</button>
                                    
                                        <button class="btn enrol-btn btn-checkout" (click)="emptyCart()">EMPTY
                                        CART</button>
                                </div>
                            </div>
                            <!-- here is the content-->
                        </div>
                    </div>
                </div>
            <div class="navbar-nav" id="mobile-global-search">
                <div class="nav-item">
                    <a class="nav-link search-icon" id="uegSearchBarNavItem" (click)="toggleMenuSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path id="Path_1772" data-name="Path 1772"
                                d="M1331.641,1127.42h-1.084l-.384-.37a8.933,8.933,0,1,0-.96.96l.37.384v1.084l6.861,6.847,2.045-2.045Zm-8.234,0a6.175,6.175,0,1,1,6.175-6.175A6.167,6.167,0,0,1,1323.407,1127.42Z"
                                transform="translate(-1314.488 -1112.326)" fill="#fff"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="togMobMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 spread-evenly">
                    <li class="nav-item">
                        <a id="aDropDownCourses" class="nav-link text-dark" [ngClass]="{'nav-open': courseDiv === true}"
                            (click)="toggleMenuCourse()">
                            Live Courses
                            <div class="nav-arrow"><img src="assets/img/NavDropdown.svg"></div>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a id="aDropDownCoursespre" class="nav-link text-dark"
                            [ngClass]="{'nav-open': courseDiv === true}" (click)="goto('/pre-recorded')">
                            Pre Recorded Courses
                            <div class="nav-arrow"><img src="assets/img/NavDropdown.svg"></div>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a id="aDropDownEducators" class="nav-link text-dark"
                            [ngClass]="{'nav-open': educatorDiv === true}" (click)="toggleMenuEducator()">
                            Educators
                            <div class="nav-arrow"><img src="assets/img/NavDropdown.svg"></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" (click)="goto('/resources')">
                            Resources
                            <div class="nav-arrow"><img src="assets/img/NavDropdown.svg"></div>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-dark" (click)="goto('/using-ueg')">
                            Using UEG
                            <div class="nav-arrow"><img src="assets/img/NavDropdown.svg"></div>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a id="aDropDownukStudy" class="nav-link text-dark"
                            [ngClass]="{'nav-open': ukstudyDiv === true}" (click)="toggleMenuUkstudy()">
                            UK STUDY
                            <div class="nav-arrow"><img src="assets/img/NavDropdown.svg"></div>
                        </a>
                    </li>

                    <li class="nav-item">
                        <div class="dropdown cart_tray">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/img/cart-icon.png" />
                                <span id="countitemspan" class="itemCount">{{getCartlistArr.length}}</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <!--Here is the Content-->
                                <div class="add_bag">
                                    <div class="add_bag_l">
                                        <button><img src="assets/img/close-icn.png" /></button>
                                        <strong>Your bag</strong>
                                    </div>
                                    <div id="countitemdiv" class="add_bag_r">
                                        <strong *ngIf="getCartlistArr.length <=1"><span>{{getCartlistArr.length}}</span> &nbsp;item</strong>
                                        <strong *ngIf="getCartlistArr.length > 1"><span>{{getCartlistArr.length}}</span> &nbsp;items</strong>
                                    </div>
                                </div>
                                <div class="card_mid">
                                    <div class="add_card_lidt" id="wishlistdiv" *ngFor="let data of getCartlistArr">
                                        <ul>
                                            <li>
                                                <div class="prod_img">
                                                    <img [src]="common.imgCheck(data.resourceimg)" />
                                                </div>
                                                <div class="prod_div_rit">
                                                    <div class="prod_div_rit_top">
                                                        <div class="prod_name"><strong>{{data.resourcename}}</strong>
                                                        </div>
                                                        <div class="prd_dlticon">
                                                            <img class="smlImg" src="assets/img/delete-24.png" alt=""  srcset="" (click)="deleteCart(data.cartid)">
                                                       </div>
                                                        <div class="prod_pric" style="margin-top: 5px;"><strong>£{{data.resourceprice}}</strong>
                                                        </div>
                                                    </div>
                                                    <div class="qnt-nobr">
                                                        <strong class="qnt_xtt" *ngIf="data.quantity <= 1">Quantity:</strong>
                                                        <strong class="qnt_xtt" *ngIf="data.quantity > 1">Quantities:</strong>
                                                        <strong class="qnt_xtt_no"> {{data.quantity}}</strong>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="estimt_totl">
                                    <div id="totalPriceDiv " class="estimt_totl_inr total-price-div">
                                        <span>Total</span> <span class="mx-0"><strong> £{{totalAmount}}</strong></span>
                                    </div>
                                    <div id="SendData">
                                        <button class="btn enrol-btn btn-checkout"
                                            (click)="goto('/checkout')">Checkout</button>
                                        <button class="btn enrol-btn btn-checkout" (click)="emptyCart()">EMPTY
                                            CART</button>
                                    </div>
                                </div>

                                <!-- here is the content-->
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link search-icon" id="uegSearchBarNavItem" (click)="toggleMenuSearch()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path id="Path_1772" data-name="Path 1772"
                                    d="M1331.641,1127.42h-1.084l-.384-.37a8.933,8.933,0,1,0-.96.96l.37.384v1.084l6.861,6.847,2.045-2.045Zm-8.234,0a6.175,6.175,0,1,1,6.175-6.175A6.167,6.167,0,0,1,1323.407,1127.42Z"
                                    transform="translate(-1314.488 -1112.326)" fill="#fff"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="btn enrol-btn" (click)="openEnrol()">Enquire now</a> -->
                        <a class="btn enrol-btn" (click)="this.common.getStarted()">Enquire now</a>
                    </li>
                    <!-- <li class="nav-item" *ngIf="!loginFlag ">
                        <a class="btn login-btn" (click)="openLogin()">Login</a>
                    </li> -->

                    <li *ngIf="loginFlag ">
                        <div class="menuButton" [matMenuTriggerFor]="menu">
                            <!-- <img height="50" width="50" style="border-radius: 50%;" /> -->
                            <img src="assets/img/person-circle.png" height="35" width="35" />
                            <span class="mx-2">{{userName}}</span>
                        </div>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Profile</button>
                            <button mat-menu-item (click)="logOut()">Log out</button>
                        </mat-menu>
                    </li>

                    <!-- <li class="nav-item" *ngIf="loginFlag ">
                        <a class="btn login-btn" >user: {{this.common.getLoginUserName()}}</a>
                    </li> -->
                    <!-- <li class="nav-item" *ngIf="loginFlag ">
                        <a class="btn login-btn" (click)="logOut()">Log Out</a>
                    </li> -->
                    <!-- <li class="nav-item ">
                        <span class="btn lemon-normal">+44 (0) 20 3488 3805</span>
                    </li> -->
                    <!-- <li class="nav-item ">
                        <a href="http://staged.unioneducationgroup.com/" target="_blank">
                            <img src="assets/img/live.png" alt="" style="height: 35px;">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div id="mobileNavMenu" class="mobile-nav-menu mcick" [ngClass]="{'mob-mnu': mobNavMenu === true}">
        <ul class="list-unstyled w-100 mcick">
            <li>
                <a class="mcick" (click)="submenuFun('livecourse')">LIVE COURSES
                    <span [ngClass]="{'min': submenu=='livecourse'}" class="has-sub mcick"></span>
                </a>
                <ul class="mcick" [ngStyle]="{'display': submenu=='livecourse' ? 'block' : 'none' }">
                    <li class="mcick" *ngFor="let data of getCategoryTypeArr">
                        <a class="mcick" (click)="goto('courses/'+data.categorytypeid + '/1')">
                            <img class="mcick" style="width: 20px" [src]="this.common.imgCheck(data.courseicon)" onerror="this.onerror=null; this.src='assets/img/gray.png'"> {{data.name}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="mcick" (click)="submenuFun('educator')">EDUCATORS 
                    <span [ngClass]="{'min': submenu=='educator'}" class="has-sub mcick"></span>
                </a>
                <ul class="mcick" [ngStyle]="{'display': submenu=='educator' ? 'block' : 'none' }">
                    <li class="mcick" *ngFor="let data of getCategoryTypeArr">
                        <a class="mcick" (click)="goto('educators/'+data.categorytypeid)">
                            <img style="width: 20px" [src]="this.common.imgCheck(data.educatoricon)" onerror="this.onerror=null; this.src='assets/img/gray.png'"> {{data.name}}</a>
                    </li>
                </ul>

            </li>
            <li class="mcick"><a class="mcick" (click)="goto('/resources')">RESOURCES</a></li>
            <li>
                <a class="mcick" (click)="submenuFun('ukstudy')">UK STUDY 
                    <span [ngClass]="{'min': submenu=='ukstudy'}" class="has-sub mcick"></span>
                </a>
                <ul class="mcick" [ngStyle]="{'display': submenu=='ukstudy' ? 'block' : 'none' }">
                    <li class="mcick" *ngFor="let data of ukstudyArr">
                        <a class="mcick" (click)="goto(data.componentPath)">
                            <img style="width: 20px" [src]="data.imgSchool"
                                > {{data.schoolName}}</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="nav-item mcick" *ngIf="!loginFlag">
                <a class="btn login-btn text-white text-center mcick" (click)="openLogin()">Login</a>
            </li> -->

            <li class="nav-item mcick">
                <a class="btn login-btn text-white text-center mcick" (click)="this.common.getStarted()">Enquire now</a>
            </li>

        </ul>
    </div>

    <div class="subnav scrolling-wrapper row flex-row flex-nowrap" [ngClass]="{'subnav-open': courseDiv === true}"
        id="DropDownCourses">
        <div class="flex-column" *ngFor="let data of getCategoryTypeArr">
            <a (click)="goto('courses/'+data.categorytypeid + '/1')">
                <div class="subnav-image">
                    <img [src]="this.common.imgCheck(data.courseicon)"
                        onerror="this.onerror=null; this.src='assets/img/gray.png'" style="width: 100%;">
                </div>
                <div class="layr_data_dv">
                    <div class="layer">{{data.name}}</div>
                    <p>{{data.shortheader}}</p>
                </div>
            </a>
        </div>
    </div>

    <div class="subnav  scrolling-wrapper row flex-row flex-nowrap" [ngClass]="{'subnav-open': ukstudyDiv === true}"
        id="aDropDownukStudy">
        <div class="flex-column studytab" *ngFor="let data of ukstudyArr">
            <a (click)="goto(data.componentPath)">
                <div class="subnav-image">
                    <img [src]="data.imgSchool"
                        onerror="this.onerror=null; this.src='assets/img/gray.png'" style="width: 100%;">
                </div>
                <div class="layr_data_dv">
                    <div class="layer">{{data.schoolName}}</div>
                    <p>{{data.shortheader}}</p>
                </div>
            </a>
        </div>
    </div>

    <div class="subnav" [ngClass]="{'subnav-open': educatorDiv === true}" id="DropDownEducators">
        <div class="flex-column" *ngFor="let data of getCategoryTypeArr">
            <a (click)="goto('educators/'+data.categorytypeid)">
                <div class="subnav-image">
                    <img [src]="this.common.imgCheck(data.educatoricon)"
                        onerror="this.onerror=null; this.src='assets/img/gray.png'" style="width: 100%;">
                </div>
                <div class="layr_data_dv">
                    <div class="layer">{{data.name}}</div>
                    <p>{{data.shortheader}}</p>
                </div>
            </a>
        </div>
        <!-- <div class="flex-column layer_btn_dv" id="HeaderFramel021" ffattr="dropDownWb">
            <div class="layer_inr layer_btn">
                <button class="btn btn-ugme" fdprocessedid="y7vndg" (click)="goto('/our-team')">UEG TEAM</button>
                <button class="btn btn-ugme" fdprocessedid="ro431c" (click)="goto('/become-an-educator')">Become An
                    Educator</button>
            </div>
        </div> -->
    </div>

    <div class="subnav" [ngClass]="{'subnav-open': searchDiv === true,'mob-mnu-sch': mobSearchBar === true}"
        id="DropDown-Search" style="background-color: white; padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 search-bar-home">
                    <input id="txtSearch" type="text" placeholder="WHAT ARE YOU LOOKING FOR?..."
                        [(ngModel)]="globalSearchText" (keyup)="globalSearch()" (keydown)="clearSearch()">
                    <div class="search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path id="Path_1772" data-name="Path 1772"
                                d="M1331.641,1127.42h-1.084l-.384-.37a8.933,8.933,0,1,0-.96.96l.37.384v1.084l6.861,6.847,2.045-2.045Zm-8.234,0a6.175,6.175,0,1,1,6.175-6.175A6.167,6.167,0,0,1,1323.407,1127.42Z"
                                transform="translate(-1314.488 -1112.326)" fill="#fff"></path>
                        </svg>
                    </div>
                </div>
                <!--<div class="col-sm-12 force-scrollbar" id="searchResults"
                    style="max-height: 200px; overflow-y: scroll;"></div>-->

                <!-- <ul class="force-scrollbar">
                    <li *ngFor="let item of globalSearchList" (click)="redirectTo(item)" style="cursor: pointer;">
                        <span class="mat-option-span">
                            <img class="opt-icon" [src]='this.common.imgCheck(item.courseicon)'
                                [ngStyle]="item.backgroundColour?{'background-color': item.backgroundColour} : null" />
                            <span class="span-text"> {{ item.name |uppercase}} </span>
                        </span>
                    </li>
                </ul> -->
                <ul class="force-scrollbar">
                        <li *ngIf="!searchSpinner && globalSearchList.length === 0 && globalSearchText.length >= 3">
                            <span class="no-data-found">No data found</span>
                        </li>
                        <li *ngFor="let item of globalSearchList" (click)="redirectTo(item)" style="cursor: pointer;">
                            <span class="mat-option-span">
                                <img class="opt-icon" [src]="getStaticIconPath(item)"
                                [ngStyle]="item.backgroundColour?{'background-color': item.backgroundColour} : null" />
                                <span class="span-text"> {{ item.name |uppercase}}</span>
                            </span>
                        </li>
                    </ul>

                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngIf="searchSpinner">
                        <mat-spinner style="width:50px;"></mat-spinner>
                    </mat-option>
                    <mat-option *ngFor="let item of globalSearchList" (click)="redirectTo(item)">
                        <span class="mat-option-span"><img [src]='this.common.imgCheck(item.courseicon)' style="width: 20px;height:20px;"/> 
                            <span class="span-text"> {{ item.name |uppercase}} </span>
                        </span>
                    </mat-option>
                </mat-autocomplete> -->
            </div>
        </div>
    </div>
    <div class="spacer-bar display-off-mobile" id="navSpacer"
        [ngClass]="{'spacer-bar-open': searchDiv || educatorDiv || courseDiv || ukstudyDiv, 'search-bar-head': searchDiv === true}">
    </div>
</header>

<router-outlet ></router-outlet>
<app-footer></app-footer>

<ng-template #enrolNowModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5 class="modal-title">Enrol For Free</h5>
                <hr class="big-blue">
            </div>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div id="enrollForm">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6 pb-3">
                        <label class="content">First Name</label>
                        <input type="text" id="mefn" name="ContactFirstName" class="form-control"
                            placeholder="First Name" required="" [(ngModel)]="firstname"
                            (keypress)="onKeyPressFirstName($event)">
                        <span class="error-msg" *ngIf="firstnameErr">Firstname is required</span>
                        <span class="error-msg" *ngIf="validfirstNameErr && firstnameErr==false ">Valid name is
                            required</span>
                    </div>
                    <div class="col-lg-6 pb-3">
                        <label class="content">Last Name</label>
                        <input type="text" id="meln" name="ContactLastName" class="form-control" placeholder="Last Name"
                            required="" [(ngModel)]="lastname" (keypress)="onKeyPresslastName($event)">
                        <span class="error-msg" *ngIf="lastnameErr">Lastname is required</span>
                        <span class="error-msg" *ngIf="validlastNameErr && lastnameErr == false">Valid name is
                            required</span>
                    </div>
                    <div class="col-lg-6 pb-3">
                        <label class="content">Phone</label>
                        <input type="text" id="memobile" name="ContactNumber" class="form-control" placeholder="Phone"
                            required="" [(ngModel)]="mobile" (keypress)="onKeyPressMobile($event)"
                            (keyup)="mobileFun()">
                        <span class="error-msg" *ngIf="mobileErr">Phone number is required</span>
                        <span class="error-msg" *ngIf="validmobilErr">Valid number is required</span>
                    </div>
                    <div class="col-lg-6 pb-3">
                        <label class="content">Email</label>
                        <input type="email" id="meemail" name="ContactEmail" class="form-control" placeholder="Email"
                            required="" [(ngModel)]="email" (keyup)="emailFun()">
                        <span class="error-msg" *ngIf="emailErr">Email is required</span>
                        <span class="error-msg" *ngIf="validEmailErr">Valid email is required</span>
                    </div>
                    <div class="col-lg-6 pb-3">
                        <label class="content">Date of Birth</label>
                        <label class="optional-content">Optional</label>
                        <input type="date" id="medob" name="ContactDOB" class="form-control" placeholder="Date of Birth"
                            [(ngModel)]="dob">
                    </div>
                    <div class="col-lg-12 pb-3">
                        <label class="content">Address</label>
                        <label class="optional-content">Optional</label>
                        <input type="text" id="meaddress" name="ContactAdd" class="form-control" placeholder="Address"
                            [(ngModel)]="address">
                    </div>
                    <div class="col-lg-12 pb-3">
                        <label class="content">Message</label>
                        <label class="optional-content">Optional</label>
                        <textarea name="ContactMessage" id="memessage" class="form-control" required=""
                            placeholder="Message" [(ngModel)]="message"></textarea>
                    </div>
                    <div class="col-lg-12 d-flex stack-row">
                        <input type="checkbox" name="gdprSubmit" required="" style="margin-top: 1rem;"
                            [(ngModel)]="checkTerm" (click)="checkTermFun()">
                        <p class="content submit-text" style="padding-left: .5rem;">By clicking Submit I agree
                            to UEG's Terms &amp; Conditions and Privacy Policy, and I agree to abide by the Code
                            of Conduct</p>
                    </div>
                    <span class="error-msg termCheck" *ngIf="checkTermErr">Terms and conditions required</span>
                </div>
            </div>
            <div class="modal-footer">
                <p>Already have a UEG account? <a (click)="openLogin()">Login</a></p>
                <button type="submit" name="submit" class="btn btn-yellow" style="padding: .4rem 1rem"
                    (click)="addCourseenRoll()">Submit</button>
            </div>
            <div id="notification" class="mt-4"></div>
        </div>
    </div>

</ng-template>

<ng-template #loginModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5 class="modal-title">LogIn</h5>
                <hr class="big-blue">
            </div>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div id="enrollForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-lg-12 pb-3">
                                <label class="content">Username</label>
                                <input type="text" id="mefn" name="ContactFirstName" class="form-control"
                                    placeholder="email" required="" [(ngModel)]="email" (keyup)="emailFun()">
                                <span class="error-msg" *ngIf="emailErr">Email required</span>
                                <span class="error-msg" *ngIf="validEmailErr">Valid email required</span>
                            </div>
                            <div class="col-lg-12 pb-3">
                                <label class="content">Password</label>
                                <input type="password" placeholder="password" id="" name="" class="form-control"
                                    required="" [(ngModel)]="password" (keyup)="passwordFun()">
                                <span class="error-msg" *ngIf="passwordErr">Password required</span>
                            </div>
                            <div class="col-lg-12 pb-3">
                                <a class="href" (click)="openFogetPasswordModal()">Forgot Password?</a>
                            </div>

                            <div class="col-lg-12">
                                <p><a class="href" (click)="openRegisterModal(registerModal)">New User?</a><a
                                        class="href mx-2" (click)="openRegisterModal(registerModal)">Register</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12">
                    <button type="submit" name="submit" class="btn btn-yellow w-20" style="padding: .4rem 1rem"
                        (click)="login()">LOGIN</button>
                </div>
            </div>
            <!-- <div id="notification" class="mt-4"></div> -->
        </div>
    </div>
</ng-template>


<ng-template #registerModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5 class="modal-title">Sign Up</h5>
                <hr class="big-blue">
            </div>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div id="enrollForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 pb-3">
                        <label class="content">Username</label>
                        <input type="text" id="mefn" name="ContactFirstName" class="form-control" placeholder="Username"
                            required="" [(ngModel)]="username" (keyup)="usernameFun()">
                        <span class="error-msg" *ngIf="usrNameErr">Name required</span>
                    </div>
                    <div class="col-lg-6 pb-3">
                        <label class="content">Email</label>
                        <input type="email" id="meemail" name="ContactEmail" class="form-control" placeholder="Email"
                            required="" [(ngModel)]="email" (keyup)="emailFun()">
                        <span class="error-msg" *ngIf="emailErr">Email is required</span>
                        <span class="error-msg" *ngIf="validEmailErr">Valid email is required</span>
                    </div>
                    <div class="col-lg-6 pb-3">
                        <label class="content">Password</label>
                        <input type="password" placeholder="Password" id="" name="" class="form-control" required=""
                            [(ngModel)]="password" (keyup)="passwordFun()">
                        <span class="error-msg" *ngIf="passwordErr">Password required</span>
                    </div>
                    <div class="col-lg-12 d-flex stack-row">
                        <input type="checkbox" name="gdprSubmit" required="" style="margin-top: 1rem;"
                            [(ngModel)]="checkTerm" (click)="checkTermFun()">
                        <p class="content submit-text" style="padding-left: .5rem;">By signing up, I agree to the Terms
                            & Conditions and Privacy Policy</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12">
                    <button type="submit" name="submit" class="btn btn-yellow w-20" style="padding: .4rem 1rem"
                        (click)="signUp()">Sign Up</button>
                </div>
            </div>
            <!-- <div id="notification" class="mt-4"></div> -->
        </div>
    </div>
</ng-template>

<ng-template #otpModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5 class="modal-title">OTP </h5>
                <hr class="big-blue">
            </div>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div id="enrollForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 pb-3">
                        <label class="content">Enter OTP</label>
                        <input type="number" class="form-control" [(ngModel)]="otp" placeholder="OTP"
                            (keyup)="removeOtpErr()">
                        <span class="error-msg" *ngIf="otperr">Valid OTP required</span>

                    </div>
                    <div class="col-lg-12 pb-3">
                        <button type="submit" name="submit" class="btn btn-yellow w-100" style="padding: .4rem 1rem"
                            (click)="validOtp()">OTP</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>

<ng-template #forgotModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5 class="modal-title">FORGOT PASSWORD</h5>
                <hr class="big-blue">
            </div>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div id="enrollForm">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 pb-3">
                        <label class="content">Email</label>
                        <input type="email" id="meemail" name="ContactEmail" class="form-control" placeholder="Email"
                            required="" [(ngModel)]="email" (keyup)="emailFun()">
                        <span class="error-msg" *ngIf="emailErr">Email is required</span>
                        <span class="error-msg" *ngIf="validEmailErr">Valid email is required</span>
                    </div>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button name="submit" class="btn btn-yellow w-20" style="padding: .4rem 1rem">RESET PASSWORD</button>
                <button type="button" class="btn btn-link" data-dismiss="modal" (click)="closeModal()">Cancel</button>
            </div>
        </div>

        <!-- <div id="notification" class="mt-4"></div> -->
    </div>
</ng-template>


<notifier-container></notifier-container>