<div class="container my-5">
    <h3 class="mb-5">Change Password: </h3>

    <div class="mb-3">
        <label class="form-label" for="currentPassword">Enter Current Password:</label>
        <input class="form-control w-50" type="password" id="currentPassword" [(ngModel)]="currentPassword">
    </div>

    <div class="mb-3">
        <label class="form-label" for="newPassword">Enter New Password:</label>
        <input class="form-control w-50" type="password" id="newPassword" [(ngModel)]="newPassword">
    </div>

    <div class="mb-3">
        <label class="form-label" for="confirmNewPassword">Confirm New Password:</label>
        <input class="form-control w-50" type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword">
    </div>

    <button class="btn btn-primary btn-xl" (click)="changePassword()">Save</button>

</div>